[2014-01-17 21:31] Jonskichov opened #1 "Decide on front end technology"
Thoughts:
- Needs to be lightweight - no big frameworks (like spring)
- Only two pages (I think) so we might just get away with standard JSPs...
  - List of repos
  - Repo details (list of files in a repo with ability to submit new or update existing ones)
- Pages should be modern HTML5/JS stuff. Shiny, but again not heavyweight.

[2014-01-18 11:47] Jonskichov opened #2 "Phase One Tasks"
I'm thinking we do things in two steps: Step one is to get an end to end system up that serves data files from GitHub. This would get a working system together that people could even start using (!) ASAP. Data files would be managed directly in GitHub for the timebeing.

Step two would be to add the "write" capabilty: A second page to accept submissions, and the required GitHub backend to commit t

[2014-01-24 14:33] Jonskichov opened #3 "GitHub Data Repo Organisation"
So, how's this going to work then?

It's clear that we need a master branch in each data repo with a known name that holds the current data to be served.

Anyone using GitHub directly will either be a data admin (and can therefore commit/push to the main branch anyway), or will be someone who knows GitHub and will fork the repo and issue pull requests.

The difficulty comes in with allowing anonym

[2014-01-24 14:36] Jonskichov opened #4 "Allow Cleansing of Rule Descriptions"
We should probably implement removal of rule descriptions, even if it's optional.

I propose a simple XSL stylesheet that'll just duplicate the XML minus the bits we don't want.

[2014-01-24 14:36] #1 closed, assigned to nobody

[2014-01-26 17:34] Jonskichov opened #5 "Setting Up Netbeans"
- Download and install Netbeans 7.3.x (Java EE version) from here: https://netbeans.org/downloads/7.3.1/
- Download and extract the App Engine Java SDK from here: https://developers.google.com/appengine/downloads#Google_App_Engine_SDK_for_Java.
- Download and extract the App Engine plugins for 7.3 from here: https://code.google.com/p/nb-gaelyk-plugin/downloads/list.
- In Netbeans, go to Tools -> P

[2014-01-29 18:03] Jonskichov opened #6 "File Upload Service"
@dattanchu Do you have any idea how you're going to post files? It will determine how we set up the service to receive them. It might still be too early to say of course :)

I guess the question is will we post it as form data (http://stackoverflow.com/a/8660740) or in some other way?

The service will work by doing a POST (or maybe PUT) to /repos/[repo_name]/[file_name] and we will need the file

[2014-01-29 18:21] Jonskichov opened #7 "How To Keep BSDataAnon's Forks Up To Date"
So currently things are set up so that the BSDataAnon user manages forks of the data file repos. When a user submits a file, it is committed to a new branch in the appropriate fork, and BSDataAnon issues a pull request back to the main repo.

The next step is how do we then keep BSDataAnon's forks in sync? In other words, when a data file admin accepts and merges in a pull request, BSDataAnon's fo

[2014-01-30 19:27] Jonskichov opened #8 "Front Page Mockup/First Pass"
We need the HTML for the front page doing.

Page needs:
- A title and logo. Duh.
- Link to the bsdata GitHub project and a prominent banner advertising that we're open source and to fork us/get involved
- An unordered list front and center with nice big rows for each of the repos

Each row in the list needs (example data below)
- A big link to the .bsi (text = description, href = repoUrl)
- Smalle

[2014-02-05 15:35] Jonskichov opened #9 "Finalizing The Read-Only Front End"
Looks like we're close to being able to deploy a read-only version of the app. That way we can start recruiting data admins (they'll need to learn to use GitHub anyway, so they might as well start now!).

So a couple of things:

Domain name. I'm happy to pay for this, my only concern is having the domain tied to myself as the BattleScribe dev. Thoughts?

Front end design. Looks like @HeWhoWatches

[2014-02-05 15:44] #8 closed, assigned to HeWhoWatches

[2014-02-05 16:59] #5 closed, assigned to nobody

[2014-02-12 17:17] amis92 opened #10 "Bug reporting - Issue tracker"
There was a suggestion to enable people from outside GitHub to report bugs, in addition to fixes.

Before the idea leaves my mind, I'll post it here: maybe integrate it with BattleScribe, to report bugs, and optionally include failing roster? That could be great if executable.

For example index.xml/bsi would include URL for bug-reporting service on BSData, so that when working on some roster, Bat

[2014-02-19 16:11] #10 closed, assigned to nobody

[2014-02-19 17:01] Jonskichov opened #11 "App Engine and Custom Domains"
Looks like we might have a problem.

A Google Apps account ($50/year) is needed to associate a custom domain with an App Engine app. Google are apparently working on this.

https://developers.google.com/appengine/docs/domain
https://groups.google.com/forum/?fromgroups#!topic/google-appengine/jC_K-YlmXhM

So... We can use an appspot domain (bs-data.appspot.com is available, for some reason bsdata.a

[2014-02-26 23:22] jacksonhyde opened #12 "Design Mockup + Introduction"
Hi guys - looks like I'll be doing some design work for this awesome project! This is me if you're interested - http://uk.linkedin.com/pub/jackson-hyde/10/570/164/

Not sure if Jon's had the chance to share this with you guys yet, a very early mockup I knocked up on a lunchbreak. Very WIP and I imagine there's more functionality that will need fleshing out.

![bsdata mockup](https://f.cloud.github

[2014-02-28 17:04] #9 closed, assigned to nobody

[2014-02-28 17:07] #2 closed, assigned to nobody

[2014-02-28 17:09] #7 closed, assigned to nobody

[2014-02-28 17:14] #11 closed, assigned to nobody

[2014-02-28 17:19] #3 closed, assigned to nobody

[2014-02-28 17:59] Jonskichov opened #13 "Phase Two Tasks"
@HeWhoWatches @dattanchu @jacksonhyde @amis92

Apologies for the mass-@ :P

Things have slowed a bit the last few weeks (I've been writing BattleScribe code, but I'm sure the rest of you had real lives to live ;)) so I wanted to do a post just to re-center us all and make sure we're on the same page. With the addition of fresh blood in the form of @jacksonhyde, it seems a good time to get going ag

[2014-02-28 18:39] Jonskichov opened #14 "P2: File upload mechanism"
@dattanchu to build file upload front end/AngularJS file upload form. Can this be created as a "partial" like the front page stuff? If so, could we display the partial as a light box (or other design element) in response to a link click? This way the design/positioning/displaying can be handled in parallel.

This form will be displayed on a per-file basis (I think? We discussed this but I lost it.

[2014-02-28 18:48] Jonskichov opened #15 "P2: File upload UI"
This is a box/form housing the file upload control, along with a "change description" field (multi-line).

It should not be visible as standard.

Each row on the Repo File List (details) page will have an "upload file" link. Each row represents a file in the repo. Clicking the link displays the upload form in some relevant way (@jacksonhyde thoughts?) - perhaps a light box, perhaps animated in as

[2014-02-28 19:35] Jonskichov opened #16 "P2: Report bug mechanism"
This is a secondary task. Perhaps it can be pushed out of "Phase Two" and be a "we'll do this later, at some point" task. This task is a duplicate (basically) of the file upload system and should work the same way (see my qestion re. implementing the UI as a "partial". Actually, pardon my ignorance, but what term should I use for the HTML snippets in the partials folder? :P).

A form/box to report

[2014-02-28 19:41] Jonskichov opened #17 "P2: Report bug UI"
YES, this issue is basically identical to the "file upload UI" issue, It should work the same way. Personally, I consider the bug reporting as a stretch task in terms of Phase Two. It's a "nice to have" not a "need to have".

This is a box/form housing the bug submission control, consisting of title (single line) and description (multi line) fields. Depending on the mechanism, the title field may

[2014-02-28 20:38] Jonskichov opened #18 "P2: Recruit data authors and hosts"
Get in contact with people who create data files for various systems and get them on-board with using our system.

Provide whatever support is needed for these people to get into using GitHub.

I have a semi-OK list of people who create files for various systems that I can contact and get on-board. I'll create the repo for them on GitHub and support them getting the appropriate software and workfl

[2014-02-28 20:48] Jonskichov opened #19 "P2: Simple "how to use this" help"
I can't count the number of times I've responded to help requests regarding "how to use a repo URL".

We need to provide simple, picture-oriented help regarding how a data user accesses the files.

I see it working like this:

A horizontal series of cells, much like a comic strip. Each cell consists of a screenshot and a one-sentence description.

This is displayed above the list of repos (top of

[2014-02-28 21:11] Jonskichov opened #20 "P2: Admin help"
We can't assume that admins are technical, nor that they have source control experience. I _hope_ that many do, but I think we should take the stance that any potential admin is not technical. Admins will be those who are passionate about BattleScribe and it's community. We don't want to put off these people if they aren't otherwise IT nerds - these are the people who's enthusiasm we rely upon and

[2014-02-28 21:33] Jonskichov opened #21 "P2: Help for data file developers"
Honestly, I'm not sure this is necessary.

The idea is Git/Source Control help for those who are active contributors and want to use GitHub, but who are not admins. Basically we can have a developer team alongside the admin team for a repo. They can push/pull but not release or accept pull requests.

This is probably 99% the same as the help for _actual_ admins.

[2014-03-04 00:53] Jonskichov opened #22 "Contact Info"
A thought: we should have a "do you want to be involved? Contact us!" link. We (or others with appropriate admin rights) don't have a means for randoms to join up.

Can GitHub do this?

Should we offer an email address?

Should we let those who want to join in create a GitHub account and create an Issue (that requests membership)?

Etc :)

How should this work?

[2014-03-13 15:39] Jonskichov opened #23 "Source Control Support in BattleScribe Beta!"
@BSData

This beta is now feature complete. It changes the way data files are stored so that it plays nicely with Git (and other source control systems).

Basically, data is now stored under .../data/[game system name] subfolders (though the subfolder name doesn't matter). Each subfolder contains the .gst and related .cat files (and can contain multiple .gsts).

This means you can now clone GitHub

[2014-04-11 20:21] #23 closed, assigned to nobody

[2014-04-15 12:07] #22 closed, assigned to nobody

[2014-04-15 12:58] #6 closed, assigned to nobody

[2014-04-15 13:37] Jonskichov opened #24 "Add Atom Feeds of Releases"
Feed of releases including release title and description. There should be a feed of releases for all repositories, as well as individual feeds for each repository.

"All" feed should be posted to Facebook and Twitter accounts. Twitter and Facebook page details need to be configurable.

[Thought I should add an issue that I can close, because closing issues is fun :P]

[2014-04-15 14:48] Jonskichov opened #25 "App Engine inbound bandwidth quota being exceeded"
... And it's being exceeded _fast_. This quota is 1GB of inbound traffic (i.e. talking to GitHub) per day, which should be plenty with appropriate caching.

The problem seems to be that the App Engine instance that the app runs on is being shut down when the app is idle for some amount of time. This means that the data we are caching using Guava is being lost. When a new request to the site comes

[2014-04-18 12:03] #15 closed, assigned to jacksonhyde

[2014-04-18 12:03] #17 closed, assigned to jacksonhyde

[2014-04-18 15:30] #25 closed, assigned to Jonskichov

[2014-04-19 18:00] #16 closed, assigned to dattanchu

[2014-04-19 18:01] #14 closed, assigned to Jonskichov

[2014-04-20 14:54] #24 closed, assigned to Jonskichov

[2014-04-22 11:14] Jonskichov opened #26 "Incorrect index URL being generated."
If the cache is empty for a repo, and you go to "contents" and click on a file, the cache gets populated but the URL used to build the BattleScribe repository is the URL of the file clicked (not index.bsi).

[2014-04-22 13:05] #26 closed, assigned to Jonskichov

[2014-04-22 14:11] Jonskichov opened #27 "Show file meta data on the site"
Each file in a repo file list should have meta data (from inside the file) displayed next to it:
- Author's name/contact info displayed next to it.
- File revision

[2014-04-22 17:15] StealthKnightSteg opened #28 "Show Revision numbers as part of internal file name?"
As of  how I do it now is give a version number in the internal filename:
e.g. Beastmen - Army Book (2013.4) - V8.7.4.
leaving the last number open as the file then mentions the revision number.

Now this might be something to be solved with Battlescribe itself, but it's an issue I see popping up here due to our naming convention.

[2014-04-23 14:10] Jonskichov opened #29 "Over Quota on Outgoing Bandwidth"
Initially raised here: https://github.com/BSData/wh40k/issues/26

@Toreador13 said:
"I was talking about this earlier, and it seems to happen very infrequently. Problem with this is that it backs up all of my datafiles, and when the feed errors, I have no catalogues without trying to go back through the backup directory and pull a version of each back out. Kind of a pain. I never ran out of space

[2014-04-24 15:20] Jonskichov opened #30 "GitHub Tutorial Screen Cast"
@BSData/data-admins @BSData/data-authors

I've put together a quick getting started guide to using GitHub to change files in the BattleScribe Data system.

Hope it's useful.

https://www.youtube.com/watch?v=Hs4PoNTwNAA

[2014-04-28 20:28] Jonskichov opened #31 "Error submitting files on website"
Getting "Failed to submit file: Git Repository is empty. (409)"

I think this is happening after a release is done (i.e. BSDataAnon is not correctly clearing down it's fork or something).

[2014-05-04 14:37] #31 closed, assigned to Jonskichov

[2014-05-04 17:37] #29 closed, assigned to nobody

[2014-05-04 17:38] #30 closed, assigned to nobody

[2014-05-07 08:38] StealthKnightSteg opened #32 "Making Issues visible on the page for end users?"
Is this possible as it will give our end users insight in which bugs are open and which are closed and for what reason.

[2014-05-21 12:35] andreagrax opened #33 "[Join Request]"
Hi,
i will be  very happy to join and work on the Wood elves datafile

[2014-05-21 20:12] #33 closed, assigned to nobody

[2014-05-28 14:56] amis92 opened #34 "Download instead of contents and vice versa"
I suggest we change links on the main page.

What I mean is, clicking on repo title should take to repo's detail site, currently available under `Contents` link under repo title.

Instead, `Contents` should be renamed to `Download` and trigger index.bsi download.

I'll add, I've caught myself many times clicking on title to see details, to facepalm seeing how I downloaded index.bsi instead. :8ball

[2014-05-31 13:47] Jonskichov opened #36 "Over Quota... Again"
@BSData/data-admins

... I thought it must have been a change I made breaking the cache or something. But no, looks like we popped up to the top of the Google search results and suddenly got a load more traffic.

I've enabled billing for the app, which I don't think will cost a lot ($0.12/GB of outgoing bandwidth) and should resolve this problem for good.

Oh well - I guess we can't get away with

[2014-06-04 20:25] HowlingWolf1337 opened #37 "New Necron repository but in wrong edition (help?)"
Hey,

I made all the rules into a catalogue of the Necrons but made it in the 6th edition Game system and now it doesn;t work any more... help?

[2014-06-05 12:06] #37 closed, assigned to nobody

[2014-06-07 03:49] Joshua137 opened #38 "Lost with a 40WHK Dataslate"
Hi all:

I wrote a catalog for the Storm Wing Formation from the  WH40K Dataslate. It seems to work fine internally, so i wanted to share it for peer review, but I am clueless how to do that.

I am a total rookie to all of this, GitHub included. I get my data from here, so i thought I'd pop in and see if some help was available.

I watched the repository video, which helped, but I'm not sure how I

[2014-06-19 19:34] Jonskichov opened #39 "Upcoming BattleScribe Features - Feedback Request"
@BSData

Warning: Big post incoming! You should probably go to ground (+1 cover save ftw). But I wanted to get you guys' feedback since you know more about data file creation than I do ;)

I posted this recently: https://plus.google.com/112844273639962659291/posts/97tPBJNAkyN

Yes. Shared items at the Game System level (so they're available to all catalogues - great for Universal Special Rules for

[2014-06-26 16:14] #34 closed, assigned to nobody

[2014-06-26 16:15] Jonskichov opened #40 "Show file author name and URL"
An author's name/url should be shown for each file, to give credit where it's due. This information should come from the data file itself.

[2014-06-26 16:15] #40 closed, assigned to nobody

[2014-06-27 13:11] #27 closed, assigned to Jonskichov

[2014-06-27 13:56] #18 closed, assigned to Jonskichov

[2014-06-27 15:38] #21 closed, assigned to HeWhoWatches

[2014-06-27 16:18] #20 closed, assigned to amis92

[2014-06-27 16:20] #38 closed, assigned to nobody

[2014-07-12 10:56] Maetco opened #41 "Chaos Dwarfs LoA Roster for Warhammer Fantasy"
The repository file doesn't have Chaos Dwarfs and I would like to add one but don't know how.

[2014-07-12 15:40] 00arak00 opened #42 "Characteristic Change Bug (BattleScribe)"
None of my characteristic changes work anymore. Currently set ones on a roster are kept, but none of the functions that used to allow for + or - of a units stats work anymore?
I noticed this both in the mordheim data set I am working on, as well as the established Necromunda one.

[2014-07-14 16:07] Richard-at-DGS opened #43 "Sharing files for a new Game System"
I've been working on some game files for Freeblades (skirmish game published by my game company).  They are at a working level stage, but I want to polish them up a bit more before I go "public".  That said, what will it take to have them published at http://battlescribedata.appspot.com/#/repos?

I tried downloading  the Github app, but only a partial exe file came through....not sure what happene

[2014-07-22 22:32] #41 closed, assigned to nobody

[2014-07-23 13:44] amis92 opened #44 "New repo dedicated to cat development"
@BSData/data-admins @BSData/data-authors

Ok so I have an idea (born from @Kangodo 's suggestion) for a new place of discussion.

We have established we need a developer guide (we have one, but it's more about GitHub usage). The guide we need is about best practices in recreating specific choices. Time and again we meet some hard nuts to crack. We need a reference of these situations, possibly con

[2014-07-23 21:10] #44 closed, assigned to amis92

[2014-08-03 19:22] amis92 opened #45 "A problem with file upload"
https://plus.google.com/u/0/105358845905719778704/posts/UMfPeRo81D1

and there was some other guy too. I hope someone can discover what's wrong, because I'm totally out in this web business.

[2014-08-12 06:51] ntdars opened #46 "Where did the 6th Ed. codex's go?"
They were in my files, I updated - now when I select 6th Ed 40k from the drop down menu it only comes up with 4 Codex's. What gives?

[2014-08-12 14:08] #46 closed, assigned to nobody

[2014-08-15 18:02] ghost opened #47 "Bug reporting"
Can we make it a requirement for people to state which platform they are using when reporting bugs?

[2014-09-06 16:14] senpai514 opened #48 "Appspot website not viewable on Internet Explorer"
the bottom half of the page does not load on IE browsers.  I can view everything with Comodo Dragon, Safari, Firefox

Just thought I'd bring it up here in case others need to see it. How many folks cant properly get to the repositories and report bugs because they use IE and cant see the whole page?

[2014-09-11 14:53] #47 closed, assigned to Jonskichov

[2014-09-11 14:55] #45 closed, assigned to nobody

[2014-10-29 21:05] ghost opened #50 "spacemarine hq choice issue"
space marines are missing some hq choices like named characters on the computer battlescribe but not the mobile version. I can email pics from phone but not from the computer if you need to see what im talking about

[2014-10-29 22:06] #50 closed, assigned to nobody

[2014-11-09 16:29] efalsken opened #51 "New Game System: Robotech RPG Tactics"
I volunteer to start the data if you create the repository. Or should I start it as my own repository and send you a pull request?

[2014-11-12 14:45] musina0 opened #52 "help getting acces to BSData on Github"
Hello there

I joined yesterday, got accepted and recieved a ton of mails telling me I subscribed to 24 repositories etc...

When I watch the developer video on Youtube, it tells me I have to login on Github and then BSData will appear on the left side of the screen. This never happened. I am logged in (when i go to options it tells me so) but all I get is a big flashing + telling me "click here t

[2014-11-16 08:59] #51 closed, assigned to nobody

[2014-11-17 04:09] timfeatonby opened #53 "[Join Request]"
Gday I would like to join the BS data to be able to use battlescribe for Warhammer 40 and WHFB please
cheers and have a good day

Tim

[2014-11-22 19:13] ghost opened #54 "New Game System: Mars Attacks"
I've already created the date for Mars Attacks miniatures game. I just need a repo to upload it whenever you have time.

[2014-11-23 00:43] #54 closed, assigned to nobody

[2014-12-21 08:57] stevecodeguy opened #55 "Firestorm Planetfall Host Request"
Hello all,

I have begun files for Firestorm Planetfall. I'd like to host them on the http://battlescribedata.appspot.com/#/repos website. How would I go about doing this?

Thanks,

Steve.

[2014-12-24 18:02] efalsken opened #56 "bsdata site is broken?"
I'm not sure what the problem is, but currently, no repositories are visible on the bsdata website. (http://battlescribedata.appspot.com/#/repos)

[2014-12-24 18:03] #56 closed, assigned to nobody

[2014-12-26 22:03] #55 closed, assigned to nobody

[2014-12-31 17:15] steve990 opened #57 "Firestorm Planetfall Data Author"
Could you add me as a Data Author? I cannot write to my planetfall repository. Thanks!

[2015-01-01 17:24] amis92 commented on #57
Continuing in #55.

[2015-01-01 17:24] #57 closed

[2015-01-01 17:27] amis92 commented on #55
Yeah, sure. I'm away skiing in mountains and had a break from internet, so sorry for the delay. To "call" someone directly, write ```@amis92``` for example - that'd notify me directly.

Also, such system-specific things are best asked in issues in appropriate repo. https://github.com/BSData/firestorm-planetfall/issues
Everybody can open an issue.

[2015-01-02 11:51] dogrizz opened #58 "Heralds of Ruin"
Hi
After few years of absence of 40K I recently dabbled in Heralds of Ruin Kill Team.
(http://heralds-of-ruin.blogspot.com/p/kill-team-rules.html)
Is there a possibility to alter 40k data files for this?
Some of the armies already have the possibiity to choose any squad members numbers (from 1 and in eldars you can also choose exarch only) and that would be already cool.
Having the upgrades would

[2015-01-03 01:05] khambatta commented on #58
@new-neon has been working on files for that; drop him a line.
The repo so far is here:
https://github.com/BSData/wh40k-heralds-of-ruin-killteam

[2015-01-06 18:27] efalsken commented on #48
It does this even with Safari and the newest Chrome. But refreshing seems to get it to load, sometimes. Sure would be nice if it worked every time. I always have to tell new users to refresh once or twice to get it to show up. Maybe the javascript needs some kind of async delay or the rendering needs to be deferred just a bit longer after loading?

[2015-01-12 19:27] T-Dawg135 opened #59 "New Game"
How does one go about adding files for a new game? When I wasn't able to find BattleScribe files for WizKids' D&D Attack Wing game, I went ahead and made my own. Now, I figure I should share them with the rest of the community.

[2015-01-12 21:21] amis92 commented on #59
Cool idea, thanks!

Well you have to do what you did, ask admins for it. By the Admin Power, I give you  https://github.com/BSData/dnd-attack-wing !

All info you'll need in managing repo you'll find here: https://github.com/BSData/bsdata/wiki/Developer-Guide

If you want to be member, tell me. If not, to upload your files you should create a fork of DnDAW repo and put them there (in .cat and .gst

[2015-01-13 23:08] LMA1980 commented on #59
Let me know when files are accessible. I'm looking forward to contribute.

Le Mon Jan 12 2015 at 2:27:21 PM, T-Dawg135 <notifications@github.com> a
écrit :

[2015-01-14 06:45] amis92 commented on #59
Well you could follow the repository to get updates. The repo is created. Sir T-Dawg just didn't upload the files yet :)

[2015-01-17 16:38] T-Dawg135 commented on #59
Being a member sounds easier, as I have no idea what forking is.

[2015-01-17 18:20] amis92 commented on #59
Great, adding you now. :) You need to accept the invitation though!

[2015-01-19 14:21] T-Dawg135 commented on #59
I can't get the repository to clone on my desktop, and GitHub hasn't responded to my email asking for assistance yet. Is there another way to upload the files?

[2015-01-19 16:47] amis92 commented on #59
Except by http://battlescribedata.appspot.com/#/repos on which the attack wing isn't showing (because no game system file is in), nope. What is your problem? Are you sure you try to clone from BSData account (I understand you do this through Github for Windows) and into a folder to which you have write access?

[2015-01-26 17:54] MFFDM opened #60 "Warhammer Diskwars Data... ready to upload!"
Hi!

I've created a data for Warhammer Diskwars a FFG game. If you don't know about the game... http://boardgamegeek.com/boardgame/146418/warhammer-diskwars

The data is finished and I want upload it to BS repo, how do i do it?

Thanks!

[2015-01-26 23:21] amis92 commented on #60
Well, you've done exactly what's needed, you asked. :) Now as an Admin I create the repo...

...and done! I'll invite you to the organisation, so that you will be able to upload files. I guess you've read Wiki here, so you probably know how to use GitHub etc. You'll need to accept the invitation though!

The new repo: https://github.com/BSData/warhammer-diskwars

[2015-01-27 13:11] MFFDM commented on #60
I think that I released the data correctly, but... How can users add the repo on BS?

[2015-01-27 13:37] amis92 commented on #60
Through http://battlescribedata.appspot.com/#/repos of course. However, the site needs up to few hours until it shows up (refreshes).

[2015-01-27 14:54] MFFDM commented on #60
Thanks!!

[2015-01-27 19:12] #60 closed

[2015-02-13 21:33] ChrisJensenDK opened #61 "[Join Request]"
I'm hoping to start a new repo for Games Workshop's Hobbit SBG

[2015-02-20 07:24] amis92 commented on #61
Oooh hey there, sorry, I was away from PC for awhile. Welcome to the group! What would you like Hobbit to be called? `hobbit` is enough, or `hobbit-sbg` would be better? I think `hobbit`. When we decide, I'll create a new repo for you and give you tip here.

You can search for other such (closed) issues here to read some tips for filling new repos. Any questions I'll gladly answer.

[2015-02-20 08:34] ChrisJensenDK commented on #61
No worries :+1:
I was thinking Hobbit SBG is best, however I have actually taught myself the functionality of BattleScribe and have already started creating the repo.
What would be best - that the repo I'm working on is added on here, or that I start over on a new repo that you create? I don't mind starting over at all, so whatever you think is best, is what we'll do :)

[2015-02-23 01:38] amis92 commented on #61
Yeah creating new repo is probably easier than transferring from your account (repo has to be under organisation ownership). Of course you can copy files over, that's no problem. Just remember to follow guidelines from our Wiki here (ie. save catalogues "save as" and choose ".cat" not ".catz" etc.).

So, here we go https://github.com/BSData/hobbit. Accept the invitation (sent by email 3 days ago o

[2015-02-23 01:38] #61 closed

[2015-03-17 06:52] mickyster opened #62 "Incorrect points in CSM selections"
So the amount of points is out for CSM.  Base 13 points including a bolt gun nd pistol + 2 points to add a CCW.

Or exchange the boltgun for CCW.

The amount of points for each option adds 1 point for either a CCW or Bolt Gun or 3 for both.  Should be zero for either or 2 extra for both.  Says that on selection screen but using the wrong amounts above in totals.

Sorry if this is wrong spot.

Than

[2015-03-17 09:56] mickyster commented on #62
Seems to be fixed now thanks

[2015-03-17 21:28] amis92 commented on #62
@mickyster Thanks, but for future, please report system-specific bug reports on appropriate repo. In that case, it'd be https://github.com/BSData/wh40k/issues

Cheers!

[2015-03-17 21:28] #62 closed

[2015-03-18 04:39] Tekyn opened #63 "[Join Request]"
looking to join the team =)

[2015-03-18 04:39] Tekyn opened #64 "[Join Request]"
looking to be added as admin/dev

[2015-03-18 20:24] #63 closed

[2015-03-18 20:25] amis92 commented on #64
One issue would suffice. A question, you've opened issues on wh40, but here too. If you've opened here, are you looking to contribute to building the AppSpot website, or have you misunderstood?

[2015-03-18 20:28] Tekyn commented on #64
I may have misunderstood sorry looking for 40k repositories

Sent from my iPhone

[2015-04-01 17:48] Vescarea opened #65 "Adding New Game files to Appspot"
Hi, i have a WIP game file for the appspot as it doesn't exist. It's for the Judge Dredd Miniatures game. i created a repository and the clone folder.

[2015-04-01 19:04] amis92 commented on #65
Hi. Thank you. Here's your link.
https://github.com/BSData/judge-dredd
I suggest you now fork this one and work on the fork, making pull requests as needed. Any further questions? Don't hold it, just ask me! :)

[2015-04-01 20:59] Vescarea commented on #65
Awesome Thank you :) im finishing off a section so will get it up soon. im still bit new to how this all works but ill get there.

[2015-04-02 04:43] BrianisBlack opened #66 "Star Wars: Armada New Repo Req"
Hi!  I've started working on a fileset for Star Wars: Armada.  Can this get added as a new repo with me as a dev?

Thanks!
Brian

[2015-04-02 22:14] Vescarea commented on #65
Hey, ive got a new update for the repo ive uploaded it to my current repro whats the next step?

[2015-04-04 20:40] amis92 commented on #65
Hey there. As I've mentioned, you should make a pull request from your fork https://github.com/Vescarea/judge-dredd
If you have further questions with pull requests, GitHub's help contains appropriate tutorials. https://help.github.com/articles/fork-a-repo/

[2015-04-04 20:43] amis92 commented on #65
After reviewing your commits, I'll suggest you remove files such as change summary. Repo should only contain .cat and .gst files. Release notes (and change log) should be included in Release information on GitHub, for example this is the first Judge release: https://github.com/BSData/judge-dredd/releases/tag/v1.0

[2015-04-04 20:49] amis92 commented on #66
Sure. I hope you've read our wiki pages, but anyway, ask if you've got more questions. Here's your new repo. You'll be granted write access after you accept invitation to BSData organisation. You'll become member of 'other' dev group. Cheers!

PS here's your new repo: https://github.com/BSData/star-wars-armada

[2015-04-08 16:58] BrianisBlack commented on #66
I've been reading the wiki pages, and while I think I understand editing existing repos, I'm not entirely certain which files need to be pushed to start a new one.

Right now I've thrown all of the files generated by the BS Data Indexer into the repo, but on comparing to the swxwing repo (which has the same rough structure), only the catalogue and game system files are hosted. This doesn't seem to

[2015-04-08 17:16] amis92 commented on #66
Ok, so:
1. `.catz`, `.gstz` - those are zipped files. Not to be used in GitHub repos. You need to `File`>`Save as...` and choose appropriate (non *z) format. This will create unzipped clone, you can delete zipped one. Do that with every catalogue and game system.
2. Only those files (catalogues and game system) are required. Index is created by AppSpot application automatically and is hosted on Ap

[2015-04-08 20:00] BrianisBlack commented on #66
Gotcha, I'll give this another go.  Thanks!

[2015-04-13 02:47] BrianisBlack commented on #66
Alright, looks like I've got myself setup properly.  Thanks for your assistance @amis92!

[2015-04-13 02:47] #66 closed

[2015-04-13 15:10] BlueSeven opened #67 "Developer access to SW-Armada"
Hi, Could I have developer access to the Star-Wars-Armada repository please?
I've been helping BrianisBlack with it on the FFG forums previously.
Thanks.

[2015-04-13 16:20] amis92 commented on #67
Please open issue in appropriate repo as per https://github.com/BSData/bsdata/wiki#getting-started

I'm sorry to sound a little "bureaucratic", but I have to manage this whole organisation by myself lately, so I need to keep it all in line.

[2015-04-13 16:20] #67 closed

[2015-04-28 00:31] daravan opened #68 "Chaos dwarfs 8th. ed."

[2015-04-28 00:31] #68 closed

[2015-04-28 00:32] daravan opened #69 "Chaos dwarfs 8th. ed."
Do you have any data?

[2015-04-28 00:32] daravan commented on #69
For bs

[2015-04-28 11:17] amis92 commented on #69
I can only guess you're talking about WFB? If so, please ask in appropriate repo. We here don't manage data files. This repo is for website.

WFB: https://github.com/BSData/whfb

[2015-04-28 11:19] amis92 commented on #69
Oh, and also after quick glance, thay do have chaos dwarfs. Have you used http://battlescribedata.appspot.com/#/repos ? You can download data there.

[2015-04-28 11:19] #69 closed

[2015-05-21 15:30] questing-knight opened #70 "Game file for relic knights"
I completed a game repository for Relic Knights by Soda Pop Miniatures.  It has been posted on Soda Pop's forums for some time and no major issues reported so it seems ready to be hosted on a known battlescribe repository site.

[2015-05-21 18:31] amis92 commented on #70
Great to hear so. Let me do the magic... her is the repo: https://github.com/BSData/relic-knights

Would you like to become BSData member or do you prefer making pull requests?
https://github.com/BSData/bsdata/wiki/Membership-Guidelines#to-be-a-member-or-not-to-be

And also for completeness: https://github.com/BSData/bsdata/wiki/Developer-Guide

[2015-05-21 18:33] questing-knight commented on #70
Thanks Amadeusz!

I think I will stick with pull requests.  Thanks again!

On Thu, May 21, 2015 at 2:31 PM, Amadeusz Sadowski <notifications@github.com

[2015-07-06 08:31] Itsacon opened #71 "Dev application, small bugs/todo in new DA files."
Hi, I've fixed/added some stuff in the new Dark Angel files, but can't commit them yet.
Can I be added as a dev?

[2015-07-06 09:07] Itsacon commented on #71
Wrong location

[2015-07-06 09:07] #71 closed

[2015-08-13 12:18] JimmyMalmer opened #72 "9th Age files"
Hello, I'm the lead developer of the Battlescribe files for the community project Warhammer 9th age. The files are not quite finished, but I thought I'd request possibility to upload them a bit ahead of time.

//Jimmy

[2015-08-18 16:16] amis92 commented on #72
Allright, I do think there is a possibility for that. :)

[2015-08-19 13:07] #65 closed

[2015-08-19 13:08] #64 closed

[2015-08-19 13:08] #58 closed

[2015-08-19 13:09] #43 closed

[2015-08-19 13:10] #52 closed

[2015-08-19 13:10] #53 closed

[2015-08-19 13:11] #59 closed

[2015-08-21 04:55] afraeve opened #73 "Epic Armageddon repo"
I have a good-sized set of files for Epic Armageddon if you'd like to set up a repo for them.

[2015-09-03 19:10] Vescarea opened #74 "New Game files"
Hi i have a new game system to add on the appspot the link is here https://github.com/Vescarea/Frostgrave

The new game is called Frostgrave

[2015-09-08 05:35] afraeve commented on #73
The work can be found here if you want to check them out in the meantime:
https://github.com/afraeve/Epic-Armageddon

[2015-09-08 20:50] amis92 commented on #73
Hey, @afraeve sorry for delay. If you want a repo, would you like to join the team and look over it? We lack the people to take care of files, so... you know. I mean, I'll create a new repo now and send you an invitation to Games Workshop games team, and then you'll take care of the rest. Deal?

[2015-09-08 20:55] amis92 commented on #73
There you go: https://github.com/BSData/wh40k-epic-armageddon

[2015-09-08 20:55] #73 closed

[2015-09-09 04:27] afraeve commented on #73
Neat-o, thanks @amis92.

[2015-09-17 22:37] Dracus1283 opened #75 "WH40K 7th ed AdMech War Convocation Fortification Issue"
I'm building a AdMech War Convocation and when I add a fortification, the upgrades for the fortification are not zeroed out. It is charging me for the upgrades, which it shouldn't. Thank you.

[2015-09-18 21:27] amis92 commented on #74
Oooh sorry I've lost this issue somehow. Would you mind taking care of the repo? I don't have time to manage any more repositories. So, I'll invite you to the team, and you'll manage Judge Dredd and Frostgrave, deal? :)

[2015-09-18 21:33] amis92 commented on #74
@Vescarea here you go https://github.com/BSData/frostgrave

[2015-09-19 00:25] Vescarea commented on #74
Yh sure thing :) will be glad to help out and thanks again.

Sent from Samsung Mobile on O2

-------- Original message --------
From: Amadeusz Sadowski <notifications@github.com>
Date: 18/09/2015  22:27  (GMT+00:00)
To: BSData/bsdata <bsdata@noreply.github.com>
Cc: Vescarea <euanmace@hotmail.co.uk>
Subject: Re: [bsdata] New Game files  (#74)

Oooh sorry I've lost this issue somehow. Would you mind

[2015-09-19 10:25] #74 closed

[2015-10-02 22:06] BrianisBlack opened #76 "Release not pushing latest version"
The last two releases I did for star-wars-armada have not gotten pushed to (at least) the battlescribe client I've got on my iPhone. The files are definitely committed to the github server on the only branch there, so I'm not sure why they wouldn't be included in the releases I've done recently.

The third from last release I did on 9/24 did go through with no issue, so I'm not sure what changed s

[2015-10-03 05:08] BrianisBlack commented on #76
... And suddenly everything's gone through.  Dunno what changed but my particular issue seems to be resolved.  I'm a bit confused why it took so long for the update to push though.

[2015-10-03 11:33] amis92 commented on #76
Well the app pulls the updates once per X hours, where I have no idea what X is. :) That's just how it works.

[2015-10-03 11:33] #76 closed

[2015-10-05 22:03] KealL opened #77 "Halo Fleet Battles"
Hi I'd like to contribute the basic setup for Halo Fleet Battles that I have put together. But don't know how to add it?

[2015-10-06 22:08] amis92 commented on #77
I've invited you (you need to accept it, it's on your email and on https://github.com/BSData) to organization and created the repository: https://github.com/BSData/halo-fleet-battles

Now you need to provide the files. Please read through wiki: https://github.com/BSData/bsdata/wiki/Developer-Guide and other pages.

Good luck and if there's any problem, just mention me like that: `@amis92` in any i

[2015-10-06 22:08] #77 closed

[2015-10-07 18:56] KealL opened #78 "Halo Fleet Battles"
Hi

Am trying to sync my data to the repository but it says I don't have permission.

![image](https://cloud.githubusercontent.com/assets/14986801/10347800/8d97a3ba-6d2d-11e5-82f3-38f30ad429ab.png)

[2015-10-07 19:21] KealL commented on #78
@amis92

[2015-10-07 19:51] amis92 commented on #78
Uh, sorry. Fixed now. GitHub introduced new permission system and I got caught off guard.

[2015-10-07 19:51] #78 closed

[2015-10-07 20:16] KealL opened #79 "Halo Fleet Battles Release"
@amis92

Hi I've made a release for the basic Halo Data and called it an Alpha version. Do I need to do anything else to get it to appear as downloadable on the app?

If not how long will it take to update?

Cheers :)

[2015-10-07 21:40] #79 closed

[2015-10-18 03:18] #48 closed

[2015-11-05 08:50] JimmyMalmer commented on #72
Right, so how do we do this? Is it possible to push it directly to appspot, or do we have to send you new versions?

[2015-11-05 19:00] mugginns opened #80 "Gates of Antares Files"
Hello,

I am working on Gates of Antares roster files - how would I get them uploaded? They are not done yet, but I'd like to begin testing with folks. Thanks

[2015-11-05 22:53] amis92 commented on #72
Okay, so @Toreador13 created the repo, I've initialized it, now I've sent you an invitation to the Data Authors team, please accept it and read on: https://github.com/BSData/bsdata/wiki/Developer-Guide

I'll close this issue, but if anything else comes up, just mention me (`@amis92`) in some comment here or there.

[2015-11-05 22:53] #72 closed

[2015-11-05 23:00] amis92 commented on #80
Testing is a part of our job, so let's just go ahead and publish the repository. Here you go: https://github.com/BSData/gates-of-antares

I've initialized it, now I've sent you an invitation to the Data Authors team, please accept it and read on: https://github.com/BSData/bsdata/wiki/Developer-Guide

I'll close this issue, but if anything else comes up, just mention me ( @amis92 ) in some comment

[2015-11-05 23:00] #80 closed

[2015-11-06 09:53] JimmyMalmer opened #81 "Little confused with release"
@amis92

Edit: I am the new lead dev for the 9th age files, and I am trying to get set up.

I read up on the release procedure, and I have 2 questions:

If I commit to master, it should automatically pop up without having to make an official release. Is this correct?

I commited to master AND taged a release on the latest commit. Still it doesn't pop up on Appspot. Is that because you will manuall

[2015-11-06 10:52] bombastian2000 opened #82 "9th age test"
Test

[2015-11-06 10:55] #82 closed

[2015-11-06 11:03] bombastian2000 opened #83 "9th Age access"
Hi, I'm part of the 9th age work force and would like access to the repo.

[2015-11-06 11:24] JimmyMalmer commented on #83
Confirming he is legit.

[2015-11-06 16:36] XWingDrLucky commented on #81
You have to actually issue the releases.  Just committing the changes will make them show up on GitHub, but issuing the release is what pushes them to the Appspot page.

For some reason, there does seem to be a delay between issuing the release and the new version showing up on Appspot.  It used to be about 15 minutes but it seems like it has been a few hours for the last few releases I've done.

[2015-11-06 16:49] JimmyMalmer commented on #81
Alright. I only did 1 release, and it seems to work fine. However, I read in the instructions that pushing to master should do it. This is of relevance, because it means that we cannot push half-done work to master.

[2015-11-06 17:07] XWingDrLucky commented on #81
Just committing changes to the master will not push them out to the file
hosted on Appspot. I've had a commit with a single tiny typo correction
during around for three+ weeks. It is in the master file on GitHub and
anyone who syncs or edits the file will see it. However, regular users who
simply download data for Battlescribe won't get it because it hasn't been
released yet and isn't yet part of

[2015-11-06 17:26] JimmyMalmer commented on #81
Cool. Thank you. Then we know how to use it.

[2015-11-06 17:26] #81 closed

[2015-11-06 18:24] amis92 commented on #83
@JimmyMalmer I'm testing new privilege system. I've created @BSData/data-authors-the-9th-age and promoted you to team maintainer. Can you add @bombastian2000 by yourself? Team page: https://github.com/orgs/BSData/teams/data-authors-the-9th-age

[2015-11-06 18:48] JimmyMalmer commented on #83
"Only organization owners can Send invitations"

[2015-11-06 19:13] amis92 commented on #83
Right. So it is that I have to add him to organization, and only then can you add him to the team. Okay, I've invited him.

[2015-11-06 19:13] #83 closed

[2015-11-11 04:13] amis92 commented on #75
See https://github.com/BSData/wh40k/issues/1459

Next time report bugs under specific repo's issues. :)

[2015-11-11 04:13] #75 closed

[2015-11-20 03:17] afraeve opened #84 "Facebook page inactive"
The page at https://www.facebook.com/BattleScribeData no longer updates when a release is published - the last change shown is 21st October.

[2015-11-21 15:06] amis92 commented on #84
https://twitter.com/amis_92/status/668012810492841986 - should be fixed. :)

[2015-11-21 15:06] #84 closed

[2015-11-22 12:59] amis92 commented on #70
@questing-knight please respond within 14 days with some message if you're still interested in this project. Otherwise I'll delete the repository, as it stays empty.

[2015-12-05 12:10] Jonskichov commented on #48
I keep meaning to put a loading spinner on there...

[2015-12-07 02:17] ddarz opened #85 "[Join Request]"
Hello!

I was hoping to join as a contributor?
Primarily to help share the workload and solve the outstanding issues faster. I have a good access to Warhammer 40K codexes and material, and I am technically proficient.

While I am an avid Battlescribe user, I don't have a lot of experience making catalogues from scratch - I am going through the guides and materials to get up to speed and my plan is

[2015-12-07 02:27] ddarz commented on #85
I believe I opened this in the wrong section, apologies - closing

[2015-12-07 02:27] #85 closed

[2015-12-10 17:45] Rooee4 opened #86 "No files on http://battlescribedata.appspot.com/#/repos"
I cant seem to get the files from http://battlescribedata.appspot.com/#/repos for Warhammer 40k they was there yesterday but now there's nothing there for me to download to my tablet please help.

[2015-12-10 17:55] #86 closed

[2015-12-10 23:47] efalsken opened #87 "appspot website isn't updating after a release"
We pushed a release earlier today for the WH40k dataset, but it seems to be stuck. Does someone need to poke it for it to show up on the appspot site?

[2015-12-10 23:47] efalsken commented on #70
I'll take ownership. I've got a data file set for this game already started.

[2015-12-11 05:59] amis92 commented on #87
No need to panic. It's already updated. I think lately there were some adjustments to slow updates down, because of breaking data limits.

[2015-12-11 06:00] #87 closed

[2015-12-11 06:01] amis92 commented on #70
Great, you already have push access. Closing.

[2015-12-11 06:01] #70 closed

[2015-12-19 00:22] cookiesnm1lk opened #88 "Farsight enclaves not there"
So....the entire Farsight Enclaves supplement codex for the Tau Empire seems to be missing from my data files. i KNOW these EXIST because on my desktop they are there. and on my laptop they are not. what do?

[2015-12-19 05:41] cookiesnm1lk commented on #88
ugh. nvm. i figured it out. by the way, that's bad organization.....

[2015-12-19 05:41] #88 closed

[2015-12-19 11:33] amis92 commented on #88
wrong repo, yeah.

[2016-01-03 18:39] Rooee4 opened #89 "support on game system editer"
I'm trying to finish the pale courts out of ia the doom of mymeara but there's no Support id on the system game editor on battlescribe how can I ad one.

[2016-01-05 23:21] JCRobertson opened #90 "Repositories Not Available (500 Error)"
The repositories are not able to be fetched by Battlescribe and are not displayed on the appspot page. There is a 500 error when trying to access http://battlescribedata.appspot.com/repos that is logged in the browser js console. In addition, the angular object m.repos is empty and is not being repeated by ng-repeat in it's ul element.

[2016-01-06 12:44] amis92 commented on #90
Site now works. It could be data limit overrun again.

[2016-01-06 12:44] #90 closed

[2016-01-10 17:43] warshepard opened #91 "Ghostkeel Support system upgrade"
Xv95 Ghostkeel battlesuits can take up to two items form the support systems. Vectored retro-thrusters are not added to this list on battlescribe. The only restriction for vectored-retro-thrusters are: " models with xv-88 cannot be equipped with vectored retro-thrusters".

[2016-01-10 19:42] amis92 commented on #91
@warshepard that's a wrong repo. Please open this issue again here: https://github.com/BSData/wh40k

[2016-01-10 19:42] #91 closed

[2016-01-19 22:14] Jonskichov opened #92 "BattleScribe 1.16.00 ALPHA"
@BSData

**This issue has been moved to the BattleScribe GitHub organisation: https://github.com/BattleScribe/Alphas/issues/1**

[2016-01-20 00:22] Jonskichov commented on #39
https://github.com/BSData/bsdata/issues/92

[2016-01-20 00:22] #39 closed

[2016-01-20 00:23] #36 closed

[2016-01-20 00:24] Jonskichov commented on #89
Wrong place for this I'm afraid.

Try Reddit (https://www.reddit.com/r/BattleScribe) for questions on how to use the apps, or ask for advice from the 40k data authors (https://github.com/BSData/wh40k)

[2016-01-20 00:24] #89 closed

[2016-01-20 00:42] Jonskichov commented on #42
Old.

BattleScribe bugs should be raised on UserVoice (https://battlescribe.uservoice.com)

UserVoice does an OK job with bugs - people often confuse "bug" with "feature request" so probably better to keep these in the same place rather than setting up something extra.

[2016-01-20 00:42] #42 closed

[2016-01-20 00:44] Jonskichov commented on #32
I like the idea but... (there's always a but...)

1) I won't have time to do this (or any other major improvements to the data site) and we don't appear to have anyone else taking up the reigns on it. Not that I/we have tried very hard to find anyone ;)

2) This would mean more hits on GitHub and we are tending to bump into their limits as it is just downloading / refreshing the data cache from th

[2016-01-20 00:44] #32 closed

[2016-01-20 00:46] Jonskichov commented on #12
This is OLD so I'm closing.

@jacksonhyde If you ever fancy getting involved, feel free to open an issue or contact one of us.

[2016-01-20 00:46] #12 closed

[2016-01-20 00:46] Jonskichov commented on #4
The is ancient so I'm closing.

These decisions have been / are being made by the data community now, and seems like rules are in.

[2016-01-20 00:46] #4 closed

[2016-01-20 00:47] Jonskichov commented on #28
The data site shows file author and revisions number.

[2016-01-20 00:47] #28 closed

[2016-01-20 00:49] Jonskichov commented on #13
I believe the majority of this is in place, and the community is doing a fantastic job helping one another get going.

So closing :)

[2016-01-20 00:49] #13 closed

[2016-01-20 00:50] Jonskichov commented on #19
Seems like the Wikis and word-of-mouth is doing a good job covering the "help" aspect of things.

Closing.

[2016-01-20 00:50] #19 closed

[2016-01-20 10:19] Thairne commented on #92
For consistency and easy access, listing my first findings here too:
-  Unable to load old (Dark Angels) lists. Likely to be caused by the next problem.
-  Unable to create new (Dark Angels or Skitarii) lists. After selecting game system, points limit and forces, a click on ok does nothing. Don't know where you keep the stack traces, therefore unable to provide the (probable) exception. Works with

[2016-01-20 16:57] Jonskichov commented on #92
@Thairne Looking into this stuff now. Will try to get an update out later tonight.

[2016-01-20 19:26] cartag commented on #92
Repeat condition to modifiers will not correct listing on left, the "... of <NO CHILD> should be removed.

Example:
Repeat 1 times for every 1000pts limit in roster.

![image](https://cloud.githubusercontent.com/assets/4388344/12460296/58761b7c-bf70-11e5-8c68-fea4c14246a7.png)

[2016-01-20 19:51] MattunR opened #93 "Maelstrom's Edge hosting request"
Hey guys,

The Battlescribe repositories page directed me here, so here I am :). I'm not familiar with Github, but here's what I've come for:

I created data files for a recently released game, Maelstrom's Edge (maelstromsedge.com  if you're interested). The company behind the game is happy to let me make my data files available to the public, so that's what I'd like to do! So basically, my questi

[2016-01-20 20:44] Jonskichov commented on #93
Er not sure who you need to talk to, but @amis92 might :)

[2016-01-21 06:59] MattunR commented on #93
Thanks Jon, will try him :)

[2016-01-21 14:16] amis92 commented on #93
Hi there. If you have the files, you'll need to populate the repo I've created for you: https://github.com/BSData/maelstroms-edge

To do that, please accept the invitation I've sent you (in email, or on https://github.com/BSData ). Then you'll gain push access and after cloning the repo locally, please add the files (in .cat and .gst format, not .catz or .gstz), commit and sync.

Any further quest

[2016-01-21 14:16] #93 closed

[2016-01-21 16:14] MattunR commented on #93
@amis92

Awesome! Whole new world for me, but I think I got all my stuff where it needs to be. Thanks! Will the repository magically appear on battlescribedata.appspot.com now that I released the files, or do I need to take additional steps, as it's a new game system?

[2016-01-21 17:35] amis92 commented on #93
It's already here http://battlescribedata.appspot.com/#/repo/maelstroms-edge (it takes up to few hours to refresh for every release)
Good job!

[2016-01-21 22:37] Jonskichov commented on #92
**Build 10**
**This update fixes some XML issues so you will have to revert to 1.15.x data and re-convert it**. I'd like to promise this will be the last time, but I won't...

@Thairne  I'm working through the main issues with DA not loading. Turned out to be a bit more in depth than I hoped. So I'm just pushing out this build for now to get rid of some of the other bits. Also I need to double che

[2016-01-22 01:45] cartag opened #94 "Roster Editor - Starting New Roster after Roster already loaded/started"
__Build 10 Bug report__

__Roster Editor__
* After a roster is active, new or existing, unable to load a new Roster without cancelling after hitting OK.
 1. Start new roster, selecting force, detachment, etc.
 2. Click New Roster button, don't save, select new force/detachment options
 3. Used Imperial Knight 2014, only 15kb file.
 4 Press OK on New Roster screen
 * Wait 30 sec, no difference seen

[2016-01-22 01:46] cartag opened #95 "Data Editor - No Shared Entry Groups"
__Build 10__
__Data Editor__
* Data files still on 1.15 format will load without any Shared Entry Groups. Have checked three different files, all have blank Shared Groups.
![image](https://cloud.githubusercontent.com/assets/4388344/12499986/4f73c7fc-c06c-11e5-8a61-f0b531bdb354.png)

[2016-01-22 01:47] cartag opened #96 "Data Editor - Condition, Query, Selections"
__Build 10 Bug report__
__Data Editor__
* For Repeat conditions, has a listing of all force options there, not selections from the army list itself like it should.
![image](https://cloud.githubusercontent.com/assets/4388344/12500285/e56d42f4-c06e-11e5-8f6c-5a35e01f733a.png)

[2016-01-22 01:48] cartag opened #97 "Data Editor - Condition, Filter By, Selections"
__Build 10 Bug report__
__Data Editor__
* Under Conditions, for Selections, it seems to order things strangely, not alphabetically. Does not appear to sort by ID, but does group by type (Elite, Troop, Heavy Support, etc)
![image](https://cloud.githubusercontent.com/assets/4388344/12500095/275e76d0-c06d-11e5-8759-b80956169cb9.png)

[2016-01-22 01:49] cartag opened #98 "Data Editor - Validation Errors"
__Build 10 Bug report__
__Data Editor__
* Not sure what changed between builds 9 and 10, but in 9 I had eight validation errors total, all dealing with the Legacy of Ruin point limits. Same data file now gives me a huge string of them. Not sure what the difference was, but there are a lot of conditions. Some of this is caused by the missing Shared Entry Groups, most of it is not.
![image](https://

[2016-01-22 01:53] cartag opened #99 "Data Editor - Revision Number missing"
__Build 10__
__Data Editor__

* No way to set/increment/decrement version number in editor, only through saving of file.
![image](https://cloud.githubusercontent.com/assets/4388344/12500419/2bf1dafe-c070-11e5-810a-47af1e1536d1.png)

[2016-01-22 01:54] cartag commented on #92
After I had three bugs I'd found, I decided to do them separate. If you prefer them all in the same thread next time, I can do that too.

Is there any additional information I'm not currently giving that would be helpful in tracking down bugs?

[2016-01-22 02:16] cartag opened #100 "Roster Editor - Edit Force"
__Build 10__
__Roster Editor__

Existing force choices are not showing up after you Edit forces. After adding one after roster exists already, cannot remove because it says it requires at least one.
![image](https://cloud.githubusercontent.com/assets/4388344/12500729/f18f25b2-c072-11e5-92a8-06440ba34295.png)

[2016-01-22 14:50] Jonskichov commented on #92
@cartag Actually yeah, separate issues is good. I will use this issue for release announcements and for general feedback.

[2016-01-22 15:48] cartag commented on #92
@Jonskichov figured that was the case :) I'll let you know if I break anything else.

[2016-01-22 19:15] Jonskichov commented on #98
Did you revert your data?

You'll need to go back to the 1.15.x data and start over...

[2016-01-22 19:17] Jonskichov commented on #97
It _should_ sort by the order it finds stuff in the file, so that it keeps the tree structure of the file. Is this the case?

Some alphabetical sorting should probably be done though.

[2016-01-22 19:23] Jonskichov commented on #100
The dumb thing here is that I noticed this before I put out the alpha... Then forgot about it...

Fixed it today, will be in the next build.

[2016-01-22 19:24] cartag commented on #98
I never saved any changes after installing Build 9 on. All files are in the same condition they were in before hand.

[2016-01-22 19:25] cartag commented on #97
Tree structure of the file is in alphabetical order. From what I can tell, it's sorting things out that are in Selection Entries, sorted by what unit type they are.

[2016-01-22 19:36] cartag commented on #95
I made a new data file to see how they are labeled. In 1.15.X, the Shared Selection Entry Groups  were labeled under __sharedSelectionGroupEntries__, where under 1.16 they are under __sharedSelectionEntryGroups__

In 1.15.X
![image](https://cloud.githubusercontent.com/assets/4388344/12520918/9989957c-c104-11e5-8d54-5e6d9ce742f7.png)

In 1.16
![image](https://cloud.githubusercontent.com/assets/4388

[2016-01-22 19:42] cartag commented on #95
Manually renaming in Notepad from 1.15 to current 1.16 label makes them show up.

![image](https://cloud.githubusercontent.com/assets/4388344/12521072/99a778d4-c105-11e5-9ccc-ce354de7e168.png)

[2016-01-22 21:59] Jonskichov commented on #92
This whole alpha business is new, so I'll probably figure things out as I go. Mostly I just want to make sure you guys are cool with the direction of things!

That said, so far there's been some _really_ dumb issues... Perhaps it should have been left in the oven for another week or so...

[2016-01-22 22:10] Jonskichov commented on #95
This was a typo - it should be selectionEntryGroups (in line with selectionEntries).

New naming convention is xxxEntry, or xxxEntryGroup for groups thereof, where the xxx is the name of the appropriate roster XML element.

E.g.
SelectionEntry -> Selection
ForceEntry -> Force

Etc...

This issue was a typo... :/

Revert to 1.15.x data, and let it update again. You should be good to go. (Let me kno

[2016-01-22 22:12] Jonskichov commented on #94
On the list, thanks for the feedback.

[2016-01-22 22:34] cartag commented on #95
Will it convert the old format to the new, or will we have to recreate everything? If I have to run a dual install of 1.15 and 1.16 I will just to get things transferred over if not, it will be a huge undertaking though.

If we'd have to recreate everything, I can write up a conversion walkthrough for others to do what I did to get them to show.

[2016-01-22 22:38] cartag commented on #92
Totally cool with how it's progressing. And look at it this way instead. Rather than leaving it in the over for another week or two, by airing it out a bit early you get feedback quicker, thus shortening the time you'll need in the future for it.

[2016-01-22 22:50] cartag commented on #92
Also, I hate to come across like I'm just tearing apart your baby. I love BS, so much that I've bought it on both my phone and PC. Please don't think I'm upset or anything with posting all the bug reports, I just want this to be the best program it can be :)

[2016-01-23 02:58] cartag opened #101 "Data Editor - Group Entry, Default Selection"
__Build 10__
__Data Editor__

Selection Group entry - Default Selection
Can choose from dropdown, but when you go off that choice and back it will revert to None.
![image](https://cloud.githubusercontent.com/assets/4388344/12527880/77e26b40-c142-11e5-8a35-4f3796b0d8f2.png)

![image](https://cloud.githubusercontent.com/assets/4388344/12527875/5516f69e-c142-11e5-97b1-4487415fcd3e.png)

[2016-01-23 16:52] amis92 commented on #100
Okay I may sound harsh, bit I don't think bsdata is the right repo for opening issues of BattleScribe.

If there is a push for GitHub from both @Jonskichov and us (and I guess there is) then maybe a separate repo for battlescribe (even just for issues) shall be created. It just really doesn't fit with data site's repository. I do understand that that's seemingly the best place. I just disagree. So

[2016-01-23 16:57] amis92 commented on #92
Yeah,  I agree with @cartag, alpha testing is really good. You may feel some of those dumbies are not something you'd like to publish. But that's really positive: we get to see you're alive, and the work is damn dynamically going forward.

Cheers!

[2016-01-23 17:46] Jonskichov commented on #95
It will update 1.15 files to the 1.16 format automatically. This issue was due to a bug in the update process (more specifically the XSL stylesheet). This means you need to go back to the 1.15 data and let it go through the upgrade process again.

The only thing you may need to do by hand is some root level "in parent" constraint changes. This _could_ be done by the XSL in theory, but looks like i

[2016-01-23 17:47] Jonskichov commented on #98
It will update 1.15 files to the 1.16 format automatically. This issue was due to a bug in the update process (more specifically the XSL stylesheet). This means you need to go back to the 1.15 data and let it go through the upgrade process again.

The only thing you may need to do by hand is some root level "in parent" constraint changes. This _could_ be done by the XSL in theory, but looks like i

[2016-01-23 17:50] Jonskichov commented on #92
Good stuff :)

You're not "tearing it apart" - I _want_ to hear about bugs! :)

This is a major update, so there's likely to be issues. I want to try and make sure there's no major show-stoppers when release day comes around...

[2016-01-23 17:52] Jonskichov commented on #100
@amis92 not harsh! Entirely sensible. I'll make a new repo for alpha bug tracking. I was lazy and just dumped it the existing repo that made most sense, my bad!

[2016-01-23 18:45] Jonskichov commented on #92
@cartag @Thairne @amis92

I've gone whole-hog and created a BattleScribe organisation here on GitHub. As @amis92 suggested, this Alpha business needs it's own repo, and I suppose it's probably best to separate it out from the BSData organization.

I was going to copy/paste your issues over myself, but I guess it would be better for you to do it yourselves for the sake of notifications and the like

[2016-01-23 20:38] cartag commented on #101
https://github.com/BattleScribe/Alphas/issues/5

[2016-01-23 20:38] #101 closed

[2016-01-23 20:39] cartag commented on #99
https://github.com/BattleScribe/Alphas/issues/6

[2016-01-23 20:39] #99 closed

[2016-01-24 22:56] #95 closed

[2016-01-24 22:57] Jonskichov commented on #100
Moved here: https://github.com/BattleScribe/Alphas/issues/9

[2016-01-24 22:57] #100 closed

[2016-01-24 22:58] #98 closed

[2016-01-24 23:07] Jonskichov commented on #94
Moved here: https://github.com/BattleScribe/Alphas/issues/10

[2016-01-24 23:07] #94 closed

[2016-01-24 23:10] Jonskichov commented on #96
Moved: https://github.com/BattleScribe/Alphas/issues/11

[2016-01-24 23:10] #96 closed

[2016-01-24 23:12] Jonskichov commented on #97
Moved: https://github.com/BattleScribe/Alphas/issues/12

[2016-01-24 23:12] #97 closed

[2016-01-24 23:14] #92 closed

[2016-01-26 01:20] Jonskichov opened #102 "BattleScribe 1.16.00 Alpha"
### BattleScribe 1.16.00 Alpha Available For Testing ###

This is just a heads up to let you know there is an alpha of the new BattleScribe here: https://github.com/BattleScribe/Alphas/issues/1

You can report any bugs here: https://github.com/BattleScribe/Alphas/issues (**one issue per bug please**).

This involves a very big update to the data file format, and may require some (minor) manual dat

[2016-02-06 02:13] MaxToreador opened #103 "Ninja All-Stars Data Files"
I have data files for the newly released Ninja All-Stars game.

[2016-02-12 12:13] amis92 commented on #103
@MaxToreador are you willing to manage the repository? Do you want to be member? I've already sent you an invitation (right now). Please ask for any help, if you want to. https://github.com/BSData/ninja-all-stars

[2016-02-19 17:00] MaxToreador commented on #103
I have a first release ready and someone helping me keep the files up to
date. It's not allowing me to upload though as I do not have push access.

*Southern New Rocks*
SouthernNewRocks.com

On Fri, Feb 12, 2016 at 7:14 AM, Amadeusz Sadowski <notifications@github.com

[2016-02-19 17:08] amis92 commented on #103
To have push access you need to accept the invitation in your email, or go to https://github.com/orgs/BSData

[2016-02-19 17:18] MaxToreador commented on #103
Ok, missed that entirely at the top of the page. Files are uploaded.

*Southern New Rocks*
SouthernNewRocks.com

On Fri, Feb 19, 2016 at 12:08 PM, Amadeusz Sadowski <
notifications@github.com> wrote:

[2016-02-19 18:09] amis92 commented on #103
Ok, now please read through https://github.com/BSData/bsdata/wiki/Developer-Guide

Hint: points of interest:
* Most Common Mistakes
* Releasing
Cheers :)

[2016-02-19 19:30] amis92 commented on #103
I'm glad you've completed the release successfully :)

[2016-02-19 19:30] #103 closed

[2016-03-20 19:43] Arturius1 opened #104 "9th Age tool support"
Hi, I 'm part of the 9th age tool support team and need access to the repo. please add me.

Arturius on 9th Age forum

[2016-03-20 21:42] amis92 commented on #104
@Arturius1 please reopen this issue on appropriate repo's site: https://github.com/BSData/The-9th-Age/issues

[2016-03-20 21:42] #104 closed

[2016-03-22 07:19] DrDabbler opened #105 "Download to iPad"
I don't see how to download data files to the iPad app. The only option now that it is all in GitHub seems to be .zip download which doesn't find battlescribe as a possible destination.

What am I missing?

[2016-03-22 22:14] amis92 commented on #105
As an example I'll take 40k repo:
1. In README you have Overview section https://github.com/BSData/wh40k#warhammer-40000
2. Fourth bullet point gives you link to our data access site.
3. On that site you click on repo you want -  it'll download/opne index.bsi file which will be associated with BattleScribe.
4. Enjoy files (after a moment of patient waiting for download).

Cheers!

[2016-03-22 22:14] #105 closed

[2016-03-30 16:36] skimutis opened #106 "Spectre: operations"
Hi. I'm really new to this kind of thing so please be patient. I would love to se the armylists of spectre: operations on battlescribe. Am I supposed to create this data file myself or how does it work. Do I need the rights of the game developer to do this?

Thanks for any guidence :)
/Martin

[2016-03-30 18:33] Vescarea commented on #106
Hi, you can create your own data files for the game but have others contribute to it from this site. Do you have battlescribe installed on laptop or pc? there are 2 data editors in C:\Program Files (x86)\BattleScribe (may be different) and what you will find are;
- Game system editor
- Catalogue editor
These 2 are how you can create your own data file check out http://www.battlescribe.net/help-ove

[2016-03-31 05:50] skimutis commented on #106
Ah alright I get it (sort of). I have battlescribe on my android-phone right now but then I need to install it on my PC. Thanks a bunch!

[2016-04-06 11:43] Karanadon opened #107 "Access to 9th Age data Repository"
Hi, I 'm a new addition to the 9th age team and need access to the repository. Please add me.

[2016-04-09 18:44] amis92 commented on #107
Oooh wait, you have to create an issue in appropriate repo, in this case https://github.com/BSData/The-9th-Age/issues

[2016-04-16 11:41] KealL opened #108 "Halo Ground Combat"
Hey Team

I know its still a few months off but lots of stat pics are up from Salute today and so I'd like to get started on this if people don't mind.

Can someone set it up and add me to it :)

Cheers

[2016-04-16 14:59] amis92 commented on #108
Is it something other, or is the name **Halo: Ground** **_Command_**?

[2016-04-17 02:22] KealL commented on #108
sorry yes

Halo: Ground Command :)

[2016-04-17 19:07] amis92 commented on #108
There ya go :) https://github.com/BSData/halo-ground-command

[2016-04-17 19:11] amis92 commented on #108
You also should already have appropriate privileges, as it's now part of Spartan Games team you belong to.

[2016-04-17 19:11] #108 closed

[2016-04-17 23:28] Dogma2097 opened #109 "New Games System - Dragon Rampant"
As written - I've plowed through and made a serviceable Database for Dragon Rampant by Osprey Games.
I now need to share this bodge with the world!

[2016-04-18 00:04] amis92 commented on #109
Great! I'll send you invitation to our Osprey Games team - please accept it. Then you'll gain access to the repo I'll create for this game.

[2016-04-18 00:08] amis92 commented on #109
This is the new repo: https://github.com/BSData/dragon-rampant

After accepting the invitation you should be able to clone it and push changes.

Please take a look through Wiki, especially [Developer Guide](https://github.com/BSData/bsdata/wiki/Developer-Guide) which will definitely help you get up to speed with sharing datafiles. :)

Any more questions, please don't hesitate to ask here (even aft

[2016-04-18 00:08] #109 closed

[2016-04-18 16:48] KealL opened #110 "HGC Test"
@amis92 Not sure if we have any policies so to speak so wondered if what I want to do is allowed so to speak:

Wanted to publish a test version of HGC (not yet as im not ready but soon) with a different layout for the two factions and then get feedback from the HGC FB community on which they prefer so I can implement that to both factions.

is that allowed?

[2016-04-18 20:21] amis92 commented on #110
Hmm I'm not sure I understand. Do you want to publish a game system where two factions have different layout and ask which layout does the community prefer? If so, go ahead.

However, if you asked whether you can publish two game systems with different layouts, then it a no - our app doesn't support more than one game system per repo.

I hope it helps. :)

[2016-04-18 20:24] KealL commented on #110
Cheers, it was the first one, which the slight restatement that I am going to publish two layouts of the same faction (Alpha and Beta) as to provide a better comparison.

Thanks :)

[2016-04-18 20:24] #110 closed

[2016-05-26 16:18] #107 closed

[2016-05-26 16:26] amis92 opened #111 "Additional catalogue hosting"
The original issue is BSData/wh40k#2127

The proposal would be to allow hosting repositories without explicit `.gst` file. The `index.xml/bsi` sure allows that, the only issue is enabling hosting such repos on webapp.

The suggestion would be to create some `.catinclude` file format which would be a token file similar in role to `.gitinclude`. Any repo containing either `.gst` or `.catinclude` fil

[2016-05-26 16:45] amis92 opened #112 "Bandwidth and release system drastic improvement"
So, the idea here is to essentially reduce workload done by appspot app.

The main point is to use GitHub feature of release management as an even more important part of data distribution. Currently releases are used as tags. The potential lies in .zip included automatically with each release. It includes the snapshot at that tag, already zipped. If we could redirect people (BattleScribe actually)

[2016-05-31 21:24] BAE2 opened #113 "Kings of War Salamander Ember Sprites"
On the Kings of War Salamander data file, Ember Sprites Regiment and Horde both appear in the 'Troop' list.

[2016-06-01 02:44] Jonskichov commented on #112
So, generally I totally agree :)

We've had some rate limit issues over time, which is why I ended taking the "quick and dirty" action of increasing the appspot cache refresh timer to 2 hours now... Which is pretty bad. FYI, here's GitHubs rate limit documentation: https://developer.github.com/v3/#rate-limiting

I'm gonna bullet-point my thoughts on your post, in no particular order... ;)

1) The

[2016-06-01 04:41] amis92 commented on #113
Hi! Please report this issue in appropriate repo for [Kings of War](https://github.com/BSData/kingsofwar)

[2016-06-01 04:41] #113 closed

[2016-06-01 04:59] amis92 commented on #112
Hmm. I'm not sure, but when it comes to GitHub, I can't find any mention of *bandwidth* limits. Instead, there is Request Limiting - but mind you: for unauthenticated requests, this would be 60 per hour per user IP. So, any app user could make up to 60 requests per hour. Which, in case we'd go with the idea of BattleScribe being able to handle release zip files, would mean any user could possibly

[2016-06-01 05:23] amis92 commented on #112
Hm. Now I've read some documentation again, I'm not sure - but it's possible we could even completely keep BS app users out of GitHub API limits:

https://developer.github.com/v3/repos/releases/#get-a-single-release-asset

There the response provides two links: one for API, one called "browser_download_link". I wonder, since the latter has no mention of API and also the URL seems like not being AP

[2016-06-02 13:21] #102 closed

[2016-06-09 21:34] #106 closed

[2016-07-10 19:15] Whotookallmynames opened #114 "Hello, i have new game files to be uploaded"
Hello,

I have made a set of files for Galeforce 9's game Tanks, can they be added to the repository (http://battlescribedata.appspot.com/).

hxxps://www.dropbox.com/sh/u47ojh006ihm12c/AABRwdhL-a5UjdFpK27-qBD1a?dl=0

[2016-07-15 10:04] Thumpy opened #115 "Age of Sigmar"
Hi

I have some files for upload, Age of Sigmar as well as a Orruks Battletome
http://tinyurl.com/zshz28o

[2016-07-15 10:45] Thumpy commented on #115
And updated to be better.
http://tinyurl.com/zshz28o

[2016-07-15 11:45] amis92 commented on #115
Please open issue in appropriate repo: https://github.com/BSData/warhammer-age-of-sigmar/issues/

[2016-07-15 11:45] #115 closed

[2016-07-15 21:08] amis92 commented on #114
Hi @Whotookallmynames,

in general, if you want to provide new game system's files, the procedure is as follows:

1. I create new repository for given game system
2. I invite you to our organization
3. You accept the invitation and gain push/write access to this new repository
4. You upload files and maintain them if possible.

The important part is that we Organization Admins do not have time to

[2016-07-15 21:29] Whotookallmynames commented on #114
Hi Amis,

Thanks, I have made a repository on my own account, I would be interested in getting the files hosted on your repository and site.

Regards,
Charles Shepherd

Sent from my iPhone

On 15 Jul 2016, at 22:10, Amadeusz Sadowski <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @Whotookallmynames<https://github.com/Whotookallmynames>,

in general, if you want to provide n

[2016-07-16 00:02] amis92 commented on #114
Okay, so I've set the repo up: https://github.com/BSData/tanks You should get invitation by now. Accepting it will join you to the team that has access to this repo. Please check out https://github.com/BSData/bsdata/wiki/Developer-Guide, there are some good guidelines. :)

[2016-07-16 00:02] #114 closed

[2016-07-16 19:44] Whotookallmynames commented on #114
Hello Amadeusz,

sorry to bother you but this is my first time using github.

I watch the video and tried to follow the instructions.

I made a clone of the /tanks repository in the desktop app, I then tried to add my files to it, when i clicked sync i got the error "Sync failed to push local changes" "it seems you do not have permission to push changes to this repository"

is there something i am

[2016-07-16 22:05] amis92 commented on #114
Hi,
whenever you need you can `@mention` me (ie. `@amis92`). It directly notifies me (by email) of the comment you post. Just something to keep in mind for future if I wasn't yet involved in the issue.

As per your problems, it was my fault, sorry. Forgot to set your team's permission to Write for this new repo.

All should work now. Readme is enough to make clone and you've succeeded with that, n

[2016-07-16 22:25] Whotookallmynames commented on #114
Thanks,

I have synced the files and I have posted a release, just got to wait for the site to grab it and it should be all good.

Thanks for the help.

Regards,
Charles Shepherd

Sent from my iPhone

On 16 Jul 2016, at 23:05, Amadeusz Sadowski <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,
whenever you need you can @mention me (ie. @amis92). It directly notifies me (by em

[2016-07-16 22:35] amis92 commented on #114
Looks good!

[2016-07-21 16:55] Space0din commented on #112
Hey, Amadeusz sent me here to inquire about a separate but equal optional repository for homebrew codices, so they could be used alongside regular ones.

I had a thought--why not create a subcategory within Force Types that would allow access to homebrew codices?

E.g., "CAD - Homebrew"; "Formation Detachment (HB)"

Surely that would be less troublesome than a separate repository?

[2016-07-21 20:27] amis92 commented on #112
The actual problem we'd have persists: people downloading repo will also unintentionally download these homebrew cats. That's what we're trying to avoid and separate repo is the only way to go, I think.

[2016-07-27 16:06] apalosaa opened #116 "30k Knights LoW options."
I cannot give them a Knightly Rank although they seem to still be subject to them? am I incorrect or is this a legitimate mistake.

[2016-08-31 21:40] Cupropituvanso opened #117 "Want to help adding profile information to WoodElves Units"
Hello

I have downloaded your repository and thanks for your work.
For my use I want to fill it with profiles for units, weapons and anything necessary for the WoodElves Units. Normally I would do it in german and use only for myself, but I could do it on english and give it to you.

If this is interesting for you, please tell me if there is any update in work for the order catalog file.

Best Reg

[2016-09-02 10:38] amis92 commented on #117
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, in this case either [whfb](https://github.com/BSData/whfb), [WH:AoS](https://github.com/BSData/warhammer-age-of-sigmar) or [The 9th Age](https://github.com/BSData/The-9th-Age) (most probably WH:AoS).

I'll close this issue and respond to the new one when you open it. I suggest you copy

[2016-09-02 10:38] #117 closed

[2016-09-22 18:41] sunabe opened #118 "[Join Request]"
Hi

I would like to join to add files for Dropzone Commander and maybe later for Dropfleet Commander.
https://github.com/sunabe/Dropzone-Commander

in kind regard

sunabe

[2016-09-22 20:58] amis92 commented on #118
Hi @sunabe,

Please accept the invitation in the email or on the [BSData organization webpage](https://github.com/BSData). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:

1. I create new repository for given game system (https://github.com/BSData/dropzone-commander)
2. I invite you to our organization
3. You accept the invitation and gain

[2016-09-22 20:58] #118 closed

[2016-10-07 18:51] coruptcopy opened #119 "Konflikt 47 repository?"
Is anyone planning on working on a Konflikt 47 repository? As it is basically a mod/add on to Bolt Action, I think we could easily start with those files and just add in the weird new units and special rules. If someone is working on it, you are the best! :-D

[2016-10-16 20:39] amis92 commented on #119
Seems there are not many volunteers. If you want to, please tell me; I can arrange a new repository for this game system if required (and you'd contribute).

[2016-10-18 22:20] frankysan opened #120 "New repo for Dust 1947?"
I've been working on the data files for the new version of Dust tactics called Dust 1947. However, as the game has changed name, and there were a lot of changes necessary to the data files, I think it would make the most sense to move my new files to a new repo, called Dust 1947 (dust1947 for short). Thoughts?

My files are currently at https://github.com/frankysan/dust1947

[2016-10-19 22:19] amis92 commented on #120
I guess that's a good idea. Do you suggest also that the old Dust Tactics be delisted?

[2016-10-19 23:12] frankysan commented on #120
Maybe. I'm sure some people who want to stick with the older stuff might get upset though.

[2016-10-25 00:18] amis92 commented on #120
There it goes: https://github.com/BSData/dust1947

I won't remove the old repo.

[2016-10-25 00:18] #120 closed

[2016-10-27 22:56] zpettichord opened #121 "Join BSdata request"
Hello,

I would like to join bsdata.

Thank you!
Zach

[2016-11-01 04:24] Lusive opened #122 "BSdata join request"
I would like to join the BSdata group, please and thank you.

[2016-11-03 16:44] amis92 commented on #121
Hello, I'd just like to make sure you want to help develop data files, since you've omitted any description?

1. If you just want to use datafiles, there's no need for you to join. Just use the website: [BattleScribe Data on Appspot](http://battlescribedata.appspot.com/#/repos).

2. On the other hand, if you'd like to help us develop datafiles, please post the Join Request in appropriate repo (lis

[2016-11-03 16:44] amis92 commented on #122
Hello, I'd just like to make sure you want to help develop data files?

1. If you just want to use datafiles, there's no need for you to join. Just use the website: [BattleScribe Data on Appspot](http://battlescribedata.appspot.com/#/repos).

2. On the other hand, if you'd like to help us develop datafiles, please post the Join Request in appropriate repo (list is here: https://github.com/BSData/b

[2016-11-04 10:40] HeIsAnAli opened #123 "40k data derp"
Data files for 40k do not have info on stat lines and rules.

[2016-11-04 10:46] HeIsAnAli commented on #123
Sorry, for some reason I can't seem to edit the OP.

To be exact, I'm using BS2 Free on Android to calculate points for 40k units. Unfortunately, the files do not have info on unit stat lines and rules.

[2016-11-04 10:46] HeIsAnAli commented on #123
Sorry, for some reason I can't seem to edit the OP.

To be exact, I'm using BS2 Free on Android to calculate points for 40k units. Unfortunately, the files do not have info on unit stat lines and rules.

[2016-11-04 10:46] HeIsAnAli commented on #123
Sorry, for some reason I can't seem to edit the OP.

To be exact, I'm using BS2 Free on Android to calculate points for 40k units. Unfortunately, the files do not have info on unit stat lines and rules.

[2016-11-04 10:46] HeIsAnAli commented on #123
Sorry, for some reason I can't seem to edit the OP.

To be exact, I'm using BS2 Free on Android to calculate points for 40k units. Unfortunately, the files do not have info on unit stat lines and rules.

[2016-11-04 10:46] HeIsAnAli commented on #123
Sorry, for some reason I can't seem to edit the OP.

To be exact, I'm using BS2 Free on Android to calculate points for 40k units. Unfortunately, the files do not have info on unit stat lines and rules.

[2016-11-04 10:46] HeIsAnAli commented on #123
Sorry, for some reason I can't seem to edit the OP.

To be exact, I'm using BS2 Free on Android to calculate points for 40k units. Unfortunately, the files do not have info on unit stat lines and rules.

[2016-11-04 10:46] HeIsAnAli commented on #123
Sorry, for some reason I can't seem to edit the OP.

To be exact, I'm using BS2 Free on Android to calculate points for 40k units. Unfortunately, the files do not have info on unit stat lines and rules.

[2016-11-11 17:03] coruptcopy commented on #119
I will not have time until Thanksgiving to get to work in this, but I am willing to start work in it then. Thanks!

[2016-11-18 15:26] Ayaxsfs opened #124 "Ronin Repository"
Edit: found the getting starter thread :P

[2016-11-18 22:52] amis92 commented on #124
After a quick search I was unable to find any miniature game. What is this issue for? Do we have that already, or do you want to start something?

[2016-11-20 05:13] Ayaxsfs commented on #124
i want to start a reposiroty for Ronin, an Osprey game.

https://ospreypublishing.com/ronin-skirmish-wargames-in-the-age-of-the-samurai

[2016-11-20 09:27] amis92 commented on #124
Hi @Ayaxsfs ,

in general, if you want to provide new game system's files, the procedure is as follows:

1. I create new repository for given game system
2. I invite you to our organization
3. You accept the invitation and gain push/write access to this new repository
4. You upload files and maintain them if possible.

The important part is that we Organization Admins do not have time to maintain/

[2016-11-20 09:27] #124 closed

[2016-11-20 10:22] DonMorr opened #125 "[Join Request]"
Hi There,
I would like to join the repo so I can help improve the horus heresy data files.
Cheers,
Donal

[2016-11-20 18:25] amis92 commented on #125
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, in this case probably [Horus Heresy](https://github.com/BSData/horus-heresy).

I'll close this issue and respond to the new one when you open it. I suggest you copy the text all over.

Kind regards,
Amis, your local admin :)

PS you may also `@mention` me to quickly take my attention.

[2016-11-20 18:25] #125 closed

[2016-11-28 09:59] Fleafa opened #126 "Join request to start Mantic's The Walking Dead: All Out War"
I'd like to join; developing TWD data file.
I've made a start on the game file, integrating the profiles for now rather than having separate catalogues. Remains to be seen if the structure I've adopted will be the best in the long run, but all fulfilled Kickstarter profiles are done, with all equipment points. Some rules descriptions yet to be added.

[2016-11-29 18:14] amis92 commented on #126
Sounds great, what would you like the name to be, The Walking Dead or some other short?

[2016-11-29 18:28] Fleafa commented on #126
Whatever makes the most sense. The full title of 'The Walking Dead: All Out War' is a little cumbersome! I know another company is producing a TWD game, but it is a board game & wouldn't conflict, so perhaps just 'The Walking Dead' will be fine. Easier for people to recognise/search for, too.

[2016-12-12 11:19] Fleafa commented on #126
Data file is ready for independent testing.

[2016-12-12 16:43] xSoulgrinderx opened #127 "40k Cataphrachii Terminator Captain"
The Angels of Death Supplement isnt found in the new Battlescribe. As well as the option to give Cataphrachii terminator Armour to ANY captain. GW FQ allows captains to be replaced in formations and such.

[2016-12-12 16:45] xSoulgrinderx opened #128 "40k Fire Raptor Squadron Rules Citing"
If a fireraptor is taken in battlescribe, it gives the option to take a formation of two.

Where is this data from? No one anywhere can find the reference for taking two fire raptors in a squad let alone call it some named formation.

[2016-12-14 20:20] gruubii opened #129 "Chaos Daemons: Multiple Greater Daemons Error"
When I want to add more than one of a greater daemon, Keeper of Secrets for example it kicks out an error.

[2016-12-16 17:54] nexomad opened #130 "[Add New Game System Request] Knight Models games"
Hello!

My name is Adrian Fuertes, and I want to ask if it's possible to add to your repositories 2 new game Systems for the games Batman Miniature Game and Super Hero Miniature Game of the miniature company Knight Models.

I have already created both systems, complete and updated for Super Hero Miniature Game and a 70% more or less of the miniatures for Batman Miniature Game.

Actually you can fi

[2016-12-19 02:15] Karanadon opened #131 "Points Percentage Calculations"
Hi,
I'm the Author of many catalogs for The 9th Age. We are having issues at the moment with total points calculations.
The way we do limits on categories is "Increment max points by X for every 10 points limit in Roster" where X is the percent limit on that category (i.e. 30%, X=3). At the moment people are getting errors where the points restrictions for the category are being calculated from th

[2016-12-19 17:13] Fleafa commented on #126
Testing is pretty much done.

[2016-12-19 17:30] amis92 commented on #130
That is exactly the place :D

Would `Batman`(`batman` repo) and `Super Hero` (super-hero` repo) be adequate names, or is Miniature Game suffix important?

[2016-12-20 11:33] nexomad commented on #130
Hi!

The suffix 'Miiature Game' is important in both, yes.

Would you host the data? Because now I have all the data on a public folder of Dropbox, but the Public folders will be closed on March [☹]

________________________________
De: Amadeusz Sadowski <notifications@github.com>
Enviado: lunes, 19 de diciembre de 2016 18:30:20
Para: BSData/bsdata
Cc: nexomad; Author
Asunto: Re: [BSData/bsdata] [

[2017-01-01 03:49] HarenHammertoe opened #132 "New game system - Team yankee"
Just finished uploading the initial work i've done for a Team Yankee file set.

Whats in:

Units, Points & Force org for BRB USA & Russia, as well as the British from Iron Maiden.
Special Rules input, no descriptions yet.
Initial work on profiles, but not happy with them so none setup for any unit yet.

Mostly wanted the points so I don't have to make a spreadsheet every time I want to play.
https

[2017-01-03 10:57] amis92 commented on #132
Hi @HarenHammertoe ,

in general, if you want to provide new game system's files, the procedure is as follows:

1. I create new repository for given game system
2. I invite you to our organization
3. You accept the invitation and gain push/write access to this new repository
4. You upload files and maintain them if possible.

The important part is that we Organization Admins do not have time to ma

[2017-01-03 11:22] amis92 commented on #119
Hi @coruptcopy ,

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (https://github.com/BSData/konflikt47)
2. You upload files and maintain them if possible.

You're already member of BSData, so I've simply added you to the team for Warlord Games. You should have write access right now.

[2017-01-03 11:22] #119 closed

[2017-01-03 11:25] amis92 commented on #126
Hi @Fleafa,

Please accept the invitation in the email or on the [BSData organization webpage](https://github.com/BSData). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (https://github.com/BSData/the-walking-dead)
2. I invite you to our organization
3. You accept the invitation and gain pus

[2017-01-03 11:25] #126 closed

[2017-01-03 11:37] amis92 commented on #130
Hi @nexomad,

Please accept the invitation in the email or on the [BSData organization webpage](https://github.com/BSData). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (https://github.com/BSData/batman and https://github.com/BSData/super-hero-universe)
2. I invite you to our organization

[2017-01-03 11:37] #130 closed

[2017-01-04 05:23] HarenHammertoe commented on #132
Hi amis,

I'm confused by the final part of your message.  I wouldn't mind uploading to a different repo, but I'm not sure what work your referring to to make the site host the files.

[2017-01-04 11:33] amis92 commented on #132
Final part was about uploading to a different repo and creating a release there, that's enough to make website host the files. :) Standard welcome message following:

-----
Hi @HarenHammertoe,

Please accept the invitation in the email or on the [BSData organization webpage](https://github.com/BSData). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as

[2017-01-04 11:33] #132 closed

[2017-01-17 00:57] IIIXprototype opened #133 "Blood Angels Baal Strike force error"
For some reason its not giving the rules red thirst for the baal strike force

![capture44444](https://cloud.githubusercontent.com/assets/25163233/22004000/f7e75fc2-dc25-11e6-869f-46b62a506726.PNG)

[2017-01-17 09:34] amis92 commented on #133
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, in this case probably [wh40k](https://github.com/BSData/wh40k).

I'll close this issue and respond to the new one when you open it. I suggest you copy the text all over.

Kind regards,
Amis, your local admin :)

PS you may also `@mention` me to quickly take my attention.

[2017-01-17 09:34] #133 closed

[2017-01-18 19:43] PeterWelzien opened #134 "Join request (new game system)"
Hi. I've created data files for the game Open Combat that I would like to host with you.

I'm also currently working on data files for Full Thrust.

Would it be possible to join as a developer?

[2017-01-21 16:29] amis92 commented on #134
Hi @PeterWelzien,

Please accept the invitation in the email or on the [BSData organization webpage](https://github.com/BSData). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (https://github.com/BSData/open-combat)
2. I invite you to our organization
3. You accept the invitation and gain pu

[2017-01-21 16:29] #134 closed

[2017-01-30 18:08] Darksandman66 opened #135 "AEON2 BS files"
I would like to join this group to upload AEON2 Files.

Thanks

[2017-02-06 08:59] Narancse opened #136 "BSData [Join Request]"
Hi I would like to join to be able to play wh40k :)

[2017-02-07 14:31] amis92 commented on #136
If you just want to use datafiles, there's no need for you to join. Just use the website: [BattleScribe Data on Appspot](http://battlescribedata.appspot.com/#/repos).

[2017-02-07 14:31] #136 closed

[2017-02-09 01:52] nexomad commented on #130
Sorry about my delay to upload the files, I didn't have time to do this.

I hope I'll upload the files in the next weeks, and also with all the Batman Miniature Game data done.

Thanks for you patience and help.

Regards.

________________________________
De: Amadeusz Sadowski <notifications@github.com>
Enviado: martes, 3 de enero de 2017 12:37:04
Para: BSData/bsdata
Cc: nexomad; Mention
Asunto: R

[2017-02-19 11:25] chacolah opened #137 "Homebrew Dieselpunk mecha/tank game."
I'm making a game about alternate history german civil war after the axis wins WWII. I have already made most of the Battlescribe files for it, I just figured I would see if you guys would actually host it.

The game is called Volkskrieg.

Contact me if you need any more information about it.

[2017-02-19 20:36] amis92 commented on #137
Hi @chacolah,

in general, if you want to provide new game system's files, the procedure is as follows:

1. I create new repository for given game system
2. I invite you to our organization
3. You accept the invitation and gain push/write access to this new repository
4. You upload files and maintain them if possible.

The important part is that we Organization Admins do not have time to maintain/

[2017-02-20 10:01] chacolah commented on #137
I am fine with doing the datafile writing,  maintenance work, and contributions myself, but I would need a little bit of help on learning how to properly upload and push the files, since I'm a github noob.

[2017-02-20 12:47] zopha opened #138 "Appspot - error getting data files"
There seems to be a general issue on Appspot where it's just returning this message

![2017-02-20 12_43_28-battlescribe data files](https://cloud.githubusercontent.com/assets/1666415/23125598/71d6c598-f76a-11e6-9e5f-ca41e38347a6.png)

I've seen it come up for a few hours but then just presents this error for most of the day again.

Not sure if it's a coincidence but this started happening after a

[2017-02-22 03:57] lhavoc1 opened #139 "Land Raider Ares"
Can you add the Land Raider Ares and Land Raider Achilles to the Warhammer 40,000 rosters as an option?

[2017-02-22 09:13] amis92 commented on #139
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, in this case probably [wh40k](https://github.com/BSData/wh40k).

I'll close this issue now. I suggest you copy the text all over.

Kind regards,
Amis, your local admin :)

PS you may also `@mention` me to quickly take my attention.

[2017-02-22 09:13] #139 closed

[2017-02-22 13:10] ChapterGrim commented on #138
This is also relayed to the latest Battle Scribe...
It refuses to update at all...

[2017-02-22 13:15] IdleMuse commented on #138
Battlescribe will be looking at the repo URLs, which are all under http://battlescribedata.appspot.com/repos/ (currently down) hence the problem updating, and presumably tied to the problem indexing them for the UI frontend too.

[2017-02-22 13:23] zopha commented on #138
It happened again this morning, just before it went down all the catalogue links where duplicated, I've attached an example.

![2017-02-22 11_31_57-](https://cloud.githubusercontent.com/assets/1666415/23213219/fb26349e-f901-11e6-965a-0a5b06c1616f.png)

[2017-02-22 13:37] IdleMuse commented on #138
Seems to be back up now?

[2017-02-22 14:01] zopha commented on #138
Yeap. It's up for me.

On 22 Feb 2017 13:37, "Justin Dee" <notifications@github.com> wrote:

[2017-03-01 23:23] amis92 commented on #137
Hi @chacolah,

sorry, I got sidetracked. Please accept the invitation in the email or on the [BSData organization webpage](https://github.com/BSData). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (https://github.com/BSData/volkskrieg)
2. I invite you to our organization
3. You accept the i

[2017-03-01 23:23] #137 closed

[2017-03-14 21:21] Cultiststeve opened #140 "BSData Join Request - New Game System "Runewars""
I have written some data files for the soon to be released game "Runewars : The Miniatures Game" by Fantasy Flight. The game is due to be released shortly but I have completed the catalogs as much as possible from the previews on their website.

I would love to be able to add this to your list of repositories. I intent on keeping the datafiles up to date myself as new expansions are released. I am

[2017-03-16 11:23] meatlaser opened #141 "30k missing data stuff for Wolves and for the legion list."
-Wolf Priests missing Terminator Armor options
-Moritat missing second bolt gun swap option (They get another bolt gun in their gear so can switch out both to other guns + that means then can also have a melee weapon as well)

[2017-03-18 10:51] amis92 commented on #140
Hi @Cultiststeve ,

Please accept the invitation in the email or on the [BSData organization webpage](https://github.com/BSData). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (REPOURL)
2. I invite you to our organization
3. You accept the invitation and gain push/write access to this new r

[2017-03-18 10:51] #140 closed

[2017-03-19 14:03] Arturius1 opened #142 "The 9th Age Spanish files - additional catalogue"
Hello @amis92

In the 9th Age we have a rather big Spanish community and they would like to ask if it's possible to add another, separate, catalogue to appspot repository with Spanish language datafiles?

Is it possible, and how it can be done?

Best regards
Arturius

[2017-03-19 17:45] amis92 commented on #142
I don't really have time right now, but I'll come back with an answer eventually, that's why I've assigned it to myself.

[2017-04-03 19:18] mugginns opened #143 "[Join Request] Would like to create a repository for Blood & Plunder"
Hi, I would like to create a repository for Blood & Plunder by Firelock Games. Thanks

[2017-04-06 21:14] edhorsman opened #144 "Create repository for Armageddon: Shadow Wars"
Hi there,

I would like to create a repository for Armageddon: Shadow Wars, which will include all the currently released races for the game.

Best,
edhorsman

[2017-04-06 22:44] amis92 commented on #143
Done and added to the team you've created: https://github.com/BSData/blood-and-plunder

[2017-04-06 22:44] #143 closed

[2017-04-06 22:59] amis92 commented on #144
Done: https://github.com/BSData/wh40k-shadow-war-armageddon

[2017-04-06 22:59] #144 closed

[2017-04-07 19:05] rookiemaisey opened #145 "Tau army war hammer 40k"
I can't find the data pack for the coalition command. Can I have either a link to the data pack, or instructions on how to find it please.

[2017-04-08 02:00] amis92 commented on #145
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, in this case probably [wh40k](https://github.com/BSData/wh40k).

I'll close this issue and someone will respond to the new one when you open it. I suggest you copy the text all over.

Kind regards,
Amis, your local admin :)

PS you may also `@mention` me to quickly take my attention.

[2017-04-08 02:00] #145 closed

[2017-04-12 20:53] #116 closed

[2017-05-07 00:18] hirwain opened #146 "No 'evil' armies"
There doesn't seem to be any bad armies for the Hobbit, particularly Mordor and umbar

[2017-05-08 17:26] amis92 commented on #146
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, in this case probably [hobbit](https://github.com/bsdata/hobbit).

I'll close this issue and respond to the new one when you open it. I suggest you copy the text all over.

Kind regards,
Amis, your local admin :)

PS you may also `@mention` me to quickly take my attention.

[2017-05-08 17:26] #146 closed

[2017-05-08 22:19] gunnersberry opened #147 "BSData Join Request"
Hi guys, love the app, thank you for all your hard work.

I'm interested in creating a modified Heresy version of Shadow Wars for personal use while learning Git - if I'm comfortable with what I produce, and it's of a good quality, then obviously I'd be happy to share it.

Thanks!
Josh

[2017-05-13 14:30] #138 closed

[2017-05-16 15:51] gunnersberry commented on #147
Hi @amis92,

Can I now start creating the file?

Thanks,
Josh

[2017-05-18 22:09] amis92 commented on #147
I've not had time 'til now to respond, sorry.

We do not happily host "fan"-made systems. An exception was made for Heralds of Ruin killteam because of the traction it had at that moment - and now it's close to unused after Shadow Wars was released.

So of course, go on - write your file. But don't hold your breath on us. If your idea gains spectacular support, by all means we'll gladly host the f

[2017-05-18 22:09] #147 closed

[2017-05-19 09:26] gunnersberry commented on #147
No worries Amadeusz, thanks for getting back to me.

Appreciate you can't just host any file that someone feels like creating
for fun. I'll happily host it myself in the meantime unless it's super
popular among the heresy crowd :)

Appreciate the heads up about the Horus Heresy guys on gitter chat, I'll
get in touch with them.

Thanks and have a great weekend!
Josh

On Thu, May 18, 2017 at 11:09 P

[2017-05-21 12:48] hirwain commented on #146
Hi,

I opened this issue in the hobbit section 11 days ago but have had no reply. I'm new to github so I'm not sure I've done it right. Cano you help please?

Martin
________________________________
From: Amadeusz Sadowski <notifications@github.com>
Sent: 08 May 2017 18:26:51
To: BSData/bsdata
Cc: hirwain; Author
Subject: Re: [BSData/bsdata] No 'evil' armies (#146)

Hello,

this is game-system spe

[2017-05-21 13:32] amis92 commented on #146
Well, I don’t maintain Hobbit repo and so I won't be able to help you. It seems that there are no active maintainers there, then. Not much I can do for you, unfortunately. You might want to “bump” the issue, but until someone responds it's all you can do really. :/

Sent from my Windows 10 phone

From: hirwain
Sent: niedziela, 21 maja 2017 14:48
To: BSData/bsdata
Cc: Amadeusz Sadowski; State chang

[2017-06-13 16:53] #121 closed

[2017-06-13 16:53] #122 closed

[2017-06-13 16:53] #127 closed

[2017-06-13 16:53] #129 closed

[2017-06-13 16:54] #128 closed

[2017-06-13 16:54] #141 closed

[2017-06-13 16:56] #131 closed

[2017-06-29 19:34] Alakhai2001 opened #148 "Warzone Resurrection"
I am the creator of the Warzone Resurrection 1.X file.
Currently I am maintaining the BS file for the 2.0 version of the game.
How I can appear in the list of supported games inside BattleScribe? Currently I simply share the .bsr file hosted in my personal web.

[2017-06-30 09:16] Arturius1 commented on #142
Thank you, it's no longer needed.

[2017-06-30 09:16] #142 closed

[2017-07-01 15:45] mcnasty0420 opened #149 "Festus the Leechlord"
Can you guys add to death guard?

[2017-07-01 15:47] cartag commented on #149
First, wrong repo to post Inn, second, he's an AoS model, not 40k.

[2017-07-01 17:56] skyengel opened #150 "Request to join for Walking Dead"
Hi,
i want to help to update the Walking Dead All out War File.

[2017-07-01 22:21] amis92 commented on #150
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, as described in https://github.com/BSData/bsdata/wiki/Joining-Repository

I'll close this issue and respond to the new one when you open it. I suggest you copy the text all over.

Kind regards,
Amis, your local admin :)

PS you may also `@mention` me to quickly take my attention.

[2017-07-01 22:21] #150 closed

[2017-07-02 19:42] skyengel opened #151 "Issue with the "hidden true" code"
Hi,
we have a Problem with the hidden true Code.
In our data for The Walking Dead we have some character that are the same Name but they have different Options. So we wanted to make it that if you choose one character the other character is hidden.
This Feature doesn`t work. we tried a lot to fix it but everytime you choose one the other is still available for choosing.
i hope you can help us to r

[2017-07-03 05:43] #151 closed

[2017-07-21 08:05] BAE2 opened #152 "Upgrade a Unit with 1 of 'x' or up to 2 of 'y'"
I'm not really sure where to post this to get advice, but I've come up with a bit of an issue that I would like to some advice on.  There is a unit that is able to take either 1 equipment upgrade, or 2 of a different equipment upgrade.  As the standard constraints within a Selection Group Entry only allow for a sum of items to be limited I can't work out how to solve the above issue.  Is there a w

[2017-07-21 10:07] #152 closed

[2017-07-24 09:09] winter-ibt opened #153 "Update instructions for Battlescribe 2"
Your instructions (while great) for assisting are all made for 1.5.

If possible, could you update the instructions to work with 2.0?

I'd love to help with the files, and I can edit them ok, but the process for loading them into the Roster Editor to check them seems to be broken or something.

[2017-08-10 11:56] Zappline opened #154 "appspot update"
I was just wondering how long it usually take for a publication on GitHub to be updated to the appspot repo section. I also would like to know if it matters if I tick the pre-release box before publication? Wanted to first try out a simple little update before i went ahead to update all the bigger changes I have done in case of any errors showing up (a lot easier to fix a small change then a big o

[2017-08-10 12:06] amis92 commented on #154
1. Up to 12 hours I think
2. Pre-release doesn't change a thing.

[2017-08-10 12:09] Zappline commented on #154
Ah I see. Would you prefer I make all the updates now in one go or should i wait until the first update goes through just to make sure it all works at it should? (New at all this as you know :) )

[2017-08-10 13:05] amis92 commented on #154
Depends on you, I won't be using Blood Bowl :D

Update whenever you have spare time. Releasing more often than once per day is not bad, it's just mostly useless. Also, if it works for you locally, there should be no problem for AppSpot.

[2017-08-10 13:12] Zappline commented on #154
Ah I see. Then I'll update everything now it should be working fine I think. Thanks for the help.

[2017-08-10 13:12] #154 closed

[2017-08-13 04:43] lsmassa opened #155 "New data: A Song of Fire and Ice Miniature Game"
Hi,

I just finish the first version of the data files for the game A Song Of Fire and Ice Miniature Game, currentily in Kickstarter.
I'd like to add it to the repositories drive to share with all.
Could you help me?

Thanks

Lucas
[asong.zip](https://github.com/BSData/bsdata/files/1220252/asong.zip)

[2017-08-17 15:11] amis92 commented on #155
Hi @lsmassa ,

in general, if you want to provide new game system's files, the procedure is as follows:

1. I create new repository for given game system
2. I invite you to our organization
3. You accept the invitation and gain push/write access to this new repository
4. You upload files and maintain them if possible.

The important part is that we Organization Admins do not have time to maintain/

[2017-08-17 15:38] lsmassa commented on #155
Hi Amis,

Yes, I'm still interested.
Don't worry, I'll keep the updates.
Maybe I'll need some help only to make sure that I'm doing all correctley,
because it's the first data files that I made.

Thanks,

Lucas Massa

2017-08-17 12:22 GMT-03:00 Amadeusz Sadowski <notifications@github.com>:

[2017-08-17 16:15] amis92 commented on #155
Hi @lsmassa,

Please accept the invitation in the email or on the [repo page](https://github.com/BSData/song-of-ice-and-fire/invitations). Welcome aboard!

That's the repo: https://github.com/BSData/song-of-ice-and-fire

Don't forget to read through [Wiki pages](https://github.com/BSData/bsdata/wiki), there are some useful guides, especially [Developer Guide](https://github.com/BSData/bsdata/wiki/

[2017-08-17 16:15] #155 closed

[2017-08-17 16:16] #149 closed

[2017-08-17 16:17] amis92 commented on #148
Hi @Alakhai2001 ,

in general, if you want to provide new game system's files, the procedure is as follows:

1. I create new repository for given game system
2. I invite you to our organization
3. You accept the invitation and gain push/write access to this new repository
4. You upload files and maintain them if possible.

The important part is that we Organization Admins do not have time to maint

[2017-08-17 16:18] amis92 commented on #135
Still interested? It seems I didn't get back to it :o

[2017-08-17 17:08] lsmassa commented on #155
Amis,

Thanks for the information, I'll read all very carefully.
However, I stuck in the beginning of it, because when I open the GitHub
Desktop, the BSDATA doesn't show in the list.

2017-08-17 13:15 GMT-03:00 Amadeusz Sadowski <notifications@github.com>:

[2017-08-17 20:49] amis92 commented on #155
A lot has changed in UI since the tutorials were done, so you need to adapt :)

As an alternative, you can try on the web:

![2017-08-17 2](https://user-images.githubusercontent.com/2671396/29433097-376e1b0c-839e-11e7-9a35-b70eb700b073.png)

That should request to open GitHub Desktop and start cloning the repo there.

[2017-08-18 17:14] aetherith commented on #112
Sorry to necro this thread but I got curious and started playing with the new v4 GitHub API. Below is a GraphQL query that provides the following info:
- The first 100 repositories owned by the BSData organization (could be implemented to page through more if the total ever exceeded 100). Then for each repository:
  - Title
  - Repo URL
  - First 50 unmerged but not closed pull requests. For each

[2017-08-18 18:17] amis92 commented on #112
Looks great, but please past it into some pastebin or other place, it makes reading the issue very hard. I can't even write a sensible respone because I don't see your comment when writing response. :D

[2017-08-18 18:26] aetherith commented on #112
Updated. My bad, got excited and didn't even consider that it was a readability nightmare.

[2017-08-19 11:32] amis92 commented on #112
Okay, so: there might be an effort to move the webapp over to .NET Core when talking about platform. Keep Angular front-end and switch backend to .NET.

I believe using webhooks will be much more efficient time-wise and cpu-wise.

We are most definitely interested in a dashboard of some kind. Would you be able to make frontend for it?

[2017-08-21 14:37] aetherith commented on #112
Ok so instead of Java, using .NET Core and instead of using the GitHub API to get information on repo status using webhooks run on push? As for doing a front end dashboard...I could give it a shot. To be honest my skills are much more back end oriented but doing a responsive front end would be a good learning experience. Were you thinking of using Angular there as well or some other framework?

[2017-08-22 10:49] Dr-Csernus opened #156 "War of the Ring"
Hello. I have a datafile for the War of the Ring game system by GW. If you can help me with the basics, I can make it public.

[2017-08-22 20:00] amis92 commented on #156
Hi @Dr-Csernus ,

in general, if you want to provide new game system's files, the procedure is as follows:

1. I create new repository for given game system
2. I invite you to our organization
3. You accept the invitation and gain push/write access to this new repository
4. You upload files and maintain them if possible.

The important part is that we Organization Admins do not have time to mainta

[2017-08-22 20:10] amis92 commented on #112
Well, it's angular now so sure, I thought angular too moving forward, but if you have other preferences... I have honestly no idea what other things are there, and are good. Heard of React and many others, but the world of JS is unknown to me still.

It'd be good to choose something that's in top of popularity as there's a greater chance someone can help us in future.

As for the concept, yeah. Th

[2017-08-23 13:52] Dr-Csernus commented on #156
Hello. Yes, please send me the invite.

[2017-08-23 15:42] BAE2 opened #157 "Warpath: Firefight"
HI, could you open a new repo with the name:

Warpath: Firefight

I've done all the files so it should be a quick upload and release.

[2017-08-23 15:45] amis92 commented on #156
Hi @Dr-Csernus,

Please accept the invitation in the email or on the [BSData organization webpage](https://github.com/BSData). Welcome aboard!

The repo: https://github.com/BSData/war-of-the-ring

Don't forget to read through [Wiki pages](https://github.com/BSData/bsdata/wiki), there are some useful guides, especially [Developer Guide](https://github.com/BSData/bsdata/wiki/Developer-Guide).

**Ple

[2017-08-23 15:50] amis92 commented on #157
There you go: https://github.com/BSData/warpath-firefight

[2017-08-23 15:50] #157 closed

[2017-08-24 04:37] Karanadon opened #158 "Fantasy Battles: The 9th Age missing??"
Hey,
I help maintain the 9th Age files and it seems the link to them has disappeared from the hosting page?

[2017-08-25 21:59] amis92 commented on #158
http://battlescribedata.appspot.com/#/repo/The-9th-Age works for me?

[2017-08-26 00:06] Karanadon commented on #158
Oh strange, it's back now. It has disappeared before for some reason. Will get a screenshot if it happens again.

[2017-08-26 00:06] #158 closed

[2017-09-01 00:47] XWingDrLucky opened #159 "New Repo for Star Wars: Legion"
I put together a repo for Fantasy Flight's upcoming Star Wars ground combat game, Star Wars: Legion.  The game isn't released yet but based on GenCon demos and the cards spoiled so far (which is nearly the whole core set), I've got a functioning repo (even if there are a few details that will likely change when the official release happens).

I'm already a maintainer in the Data Authors group for

[2017-09-01 15:24] amis92 commented on #159
I see you've come prepared like a pro. 🥇

What you requested have here is: https://github.com/BSData/star-wars-legion

[2017-09-01 15:25] #159 closed

[2017-09-16 16:08] dan221 opened #160 "Battle scribe 6th edition warhammer"
Where are all the sixth edition codexes done?

[2017-09-17 10:14] amis92 commented on #160
you mean 6th ed 40k? or wfb?

[2017-09-17 23:35] #135 closed

[2017-09-17 23:36] #148 closed

[2017-09-18 11:12] M-J-Hastings opened #161 "Change non-local information"
Hello,

I do not know and cannot see how to change/create non-local information such as Profiles and Rules.

Can someone point me in the correct direction please.

Thanks,

Matt H

[2017-09-18 15:45] XWingDrLucky commented on #161
Ever since the upgrade to 2.X, we've been able to put anything (entries, rules, profiles, etc) in the GST file rather than in individual CAT files.  That's helpful if the same unit/upgrade/rule appears in more than one faction's army list for your game system.  If you are editing a catalogue and something is showing as non-local, it means that item is actually in the game system file (and thus acc

[2017-09-18 15:51] M-J-Hastings commented on #161
Perfect. Yes that's an extremely helpful and thoughtful tool and I will of course be careful in what I add or change (mainly annoying typos!).

Thank you for the help.

[2017-09-18 15:51] #161 closed

[2017-09-19 22:07] M-J-Hastings opened #162 "App data update schedule"
I have added new catalogues and fixed several issues in the Hobbit data. I pushed to the master and made a new release with a new version, at 10 pm  (gmt) on the 18th.  25 hours later and the app data still does not update to this latest version.

How regularly does the app data update?

[2017-09-19 22:38] amis92 commented on #162
It sure seems like it's available https://twitter.com/BSData/status/910098411830906880

But if you're talking about the app itself, BattleScribe checks for data updates only once per week. If you want to enforce data update, go to Manage Data and select Update.

[2017-09-20 17:05] #162 closed

[2017-09-20 20:58] Horotius opened #163 "Age of Sigmar General's Handbook 2017"
Hey there, I was wondering if the AoS file could be updated to the new point costs of everything from the generals handbook 2017. I also noticed that a new army (Kharadron Overlords) is not within the order list as well.

Also if there was anyway to add the new command traits/artifacts for the factions that would be cool as well (due to some got new allegiance abilities, command traits, and artifa

[2017-09-21 09:32] amis92 commented on #163
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, in this case probably [Age of Sigmar](https://github.com/BSData/warhammer-age-of-sigmar).

I'll close this issue and someone more appropriate should respond to the new one when you open it. I suggest you copy the text all over.

Kind regards,
Amis, your local admin :)

PS you may also

[2017-09-21 09:32] #163 closed

[2017-09-27 07:43] superdefra opened #164 "Where is the 40k 8th data file?"
Can't download it. It's missing even from the list.

[2017-09-27 10:32] amis92 commented on #164
See https://github.com/BSData/wh40k/issues/1539

[2017-09-27 10:32] #164 closed

[2017-10-17 19:42] dragongame opened #165 "Warhammer 40k is missing"
Wh40k is missing on AppSpot

[2017-11-03 01:54] rmld commented on #165
It's at the github site, but there's no index.bsi to download to transfer it to Battle Scribe.

[2017-11-03 02:26] rmld commented on #165
![image](https://user-images.githubusercontent.com/17058946/32358478-cf7641bc-c01c-11e7-95e3-1fb91a2be3d3.png)

[2017-11-03 03:15] oarmisaelo commented on #165
So we can’t use it in mobile app anymore?

[2017-11-03 16:09] Jayz96 opened #166 "T9A Database?"
Hello,

i cant find the database for the 9th age anymore?
why it has been removed??

[2017-11-03 21:16] rmld opened #167 "Point values for Craftworld army"
@FarseerVeraenthis Great work on the rules! I noticed some point discrepancies, though:

Banshee Exarch with Execusioner and Pistol should be 16 points total (9 for Banshee, 7 for Executioner, 0 for pistol)

Scorpion Exarch with Scorpion Chainsword and Scorpion Claw should be 26 points total (13 for Scorpion, 1 for Chainsword, 12 for Claw)

[2017-11-06 09:39] M-J-Hastings opened #168 "Hobbit SBG BS Repositories Using Backups Instead of New Versions"
When I do a fresh download of the Hobbit SBG data repository, it uses the wrong versions of the catalogs that I have recently edited.

I have worked on Eregion & Rivendell, which  is now on V.13, and Rohan, which  is now on V.7. This data is all online (2.3.13-beta) and a fresh clone to the GitHub desktop app. retrieves these versions and the edits are all there in the Data Editor app.

In the ros

[2017-11-07 12:37] MrNailbrain opened #169 "Infinity N3"
Hey all, I’m working on a data file for Infinity and I’ve got one full faction done. Progress is a little slow but I’ve got a good system set up for stats entry.

There aren’t many list creators for Infinity out there -Corvus Belli has an official list builder app on Android and a mobile site, but noting yet for iPhones.

The big thing I’m trying to do is make the rules text linkable to the wiki -

[2017-11-08 15:13] amis92 commented on #166
It's still there. It might've been a temporary issue. http://battlescribedata.appspot.com/#/repo/The-9th-Age

[2017-11-08 15:13] #166 closed

[2017-11-08 15:14] amis92 commented on #165
Please see: **https://github.com/BSData/wh40k/issues/1706**

[2017-11-08 15:14] #165 closed

[2017-11-08 15:15] amis92 commented on #167
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, in this case probably [wh40k](https://github.com/BSData/wh40k/issues/).

I'll close this issue and appropriate person will respond to the new one when you open it. I suggest you copy the text all over.

Kind regards,
Amis, your local admin :)

PS you may also `@mention` me to quickly t

[2017-11-08 15:15] #167 closed

[2017-11-08 15:49] Ayaxsfs commented on #169
This will be pretty handy to the iPhone users.

[2017-11-10 13:43] MrNailbrain commented on #169
I've finished the first faction (PanOceania) and I uploaded to a github repository to test it on mobile.  How do I get the files to the main BSData repository?

[2017-11-10 14:02] Ayaxsfs commented on #169
You must ask for a new repository to be created, then upload the files using the github app.

Ask for a new repository like this

https://github.com/BSData/bsdata/issues/157

[2017-11-10 14:04] MrNailbrain opened #170 "Open Repository for Infinity"
I've completed the data files for the first faction & subfactions for Infinity and I'm working on testing them out.  Can I get a repository for Infinity N3 made?

Thanks!

[2017-12-03 13:11] Dr-Csernus opened #171 "Osprey's Fighting Sail Repository."
Hello. I wrote a repository for Osprey's Fighting Sail system and would like to publish it.

[2017-12-04 16:32] Dr-Csernus commented on #171
P.S. I wrote and published the War of the Ring repository, so I can manage everything if you make the repository available for me.

[2017-12-05 15:30] pinecones opened #172 "Necromunda Underhive"
Working on and have a functional Necromunda Underhive gang creator datafile for Battlescribe.
One known issue and currently working on traits and major injuries.

Could you please integrate into BSData and post me invite for Development? I would mainly stick to Necromunda Underhive maintenance (adding new gangs and functions) until I become more confident with the other (much larger) datasets.

ht

[2017-12-08 14:32] amis92 commented on #172
Hi @pinecones,

Please accept the invitation in the email or on the [repo webpage](https://github.com/BSData/necromunda-underhive/invitations). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (https://github.com/BSData/necromunda-underhive)
2. I invite you to the repo
3. You accept the invita

[2017-12-08 14:32] #172 closed

[2017-12-08 14:36] amis92 commented on #171
Hi @Dr-Csernus,

The repo's here: https://github.com/BSData/fighting-sail

Cheers!
Amis

[2017-12-08 14:36] #171 closed

[2017-12-11 12:23] osyanin opened #173 "Data file from site returns 500 status code"
[screenshot](https://1drv.ms/i/s!AuZpyaDuKYfbi1FpWQ9Q0XJ0Rzrt)

[2017-12-14 01:35] Jonskichov commented on #173
Sometimes the site hits a bit of a glitch! We always get it sorted pretty quick though so check back later if you run into trouble.

Thanks for the report :)

[2017-12-14 01:35] #173 closed

[2017-12-14 21:03] Xandarck opened #174 "Drakerys"
Hi,

I've completed the data files for Drakerys, french miniature game by Don't Panic Games.  I can share this french version with BSData if you want.

https://github.com/Xandarck/BSDrakerys

Jean-François

[2017-12-15 02:47] capitaladot commented on #168
Have you created pull request for your changes? You should if you haven't.

[2017-12-15 18:02] amis92 commented on #168
The issue seems pretty outdated. Closing.

[2017-12-15 18:02] #168 closed

[2017-12-22 02:24] DarthFraggle opened #175 "Join Request - Warzone Resurrection"
I'm working on a file for Warzone Resurrection. I've got most of the factions in already.
https://github.com/DarthFraggle/Warzone-Resurrection-Battlescribe

[2017-12-23 05:24] ibankzero opened #176 "Request to join BSData Project (Wh40k)"
I want to help improve data in Wh40k

[2018-01-07 04:43] DarthFraggle commented on #175
Sorry, this is the current link:
[(https://github.com/DarthFraggle/Warzone-Resurrection-2.2)]

I'm new with github and this is my first battlescribe file. I'm having touble getting it to work. I send myself the github link on another computer and I'm unable to download the repository. What am I missing?

[2018-01-07 10:22] amis92 commented on #175
You were having bad format for URLs in text, I've fixed that.

Hi @DarthFraggle ,

in general, if you want to provide new game system's files, the procedure is as follows:

1. I create new repository for given game system
2. I invite you to our organization
3. You accept the invitation and gain push/write access to this new repository
4. You upload files and maintain them if possible.

The importa

[2018-01-07 10:24] amis92 commented on #176
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, in this case probably [wh40k](https://github.com/BSData/wh40k/issues/new?title=%5BJoin%20Request%5D).

I'll close this issue and someone will respond to the new one when you open it. I suggest you copy the text all over.

Kind regards,
Amis, your local admin :)

PS you may also `@menti

[2018-01-07 10:24] #176 closed

[2018-01-07 10:26] amis92 commented on #174
I don't think we currently support language-specific versions of systems. I'll leave it for now.

[2018-01-07 10:34] amis92 commented on #170
Do you think naming it just "Infinity" is ok? It seems like N3 is an edition marking.

[2018-01-07 10:34] #160 closed

[2018-01-07 10:36] amis92 commented on #169
Closed by #170

[2018-01-07 10:36] #169 closed

[2018-01-07 10:50] amis92 commented on #170
Hi @MrNailbrain,

Please accept the invitation in the email or on the [repo webpage](https://github.com/BSData/infinity/invitations). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (https://github.com/BSData/infinity)
2. I invite you to our organization
3. You accept the invitation and gain

[2018-01-07 10:50] #170 closed

[2018-01-08 12:22] DarthFraggle commented on #175
Yes, I'm still interested, and I was intending to maintain the file. Thanks for your help.

[2018-01-08 12:51] amis92 commented on #175
Hi @DarthFraggle ,

Please accept the invitation in the email or on the [repo webpage](https://github.com/BSData/warzone-resurrection/invitations). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (https://github.com/BSData/warzone-resurrection)
2. I invite you to our organization
3. You accep

[2018-01-08 12:51] #175 closed

[2018-01-14 11:36] Lionhammer opened #178 "BattleScribe Data for The Genesys Project"
Hi,

I came here for a request for experienced coders to make a Data file for [The Genesys project](http://www.thegenesysproject.com/) from Faeit 212. It's a custom wargame where you can create your own army with different traits and weapons and play both with and without campaign. The game is still in beta and receiving feedback from playtesters.
I believe that creating a Data file for the game w

[2018-01-14 19:00] amis92 commented on #178
That doesn't work like that. When there is someone interested in making files, and they do them, only at that point we can help. There is no "task force" of coders, 99% of us are non-programming people who just happen to wish to sacrifice some of their free time on datafiles for the game they play. So unless there comes someone with the files and asks to have them hosted, well, there won't be any.

[2018-01-14 19:00] #178 closed

[2018-01-17 18:58] mugginns opened #179 "New repo - Forager"
Hi,

I've written a game system and catalogs for [Forager](https://www.kickstarter.com/projects/1718486616/forager-tabletop-napoleonic-skirmish-game-stand-to). Can you open a repo please

Michael

[2018-01-18 01:04] amis92 commented on #179
Invitation: https://github.com/BSData/forager/invitations

Repo: https://github.com/BSData/forager

Cheers!

[2018-01-18 01:04] #179 closed

[2018-01-19 14:36] mugginns commented on #179
Hi, unfortunately the invitation didn't work for me - it says Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account.

[2018-01-19 15:55] amis92 commented on #179
Oh sh*t you're right, I've invited **muggins** with single *n* xD Fixing mistake right now...

[2018-01-19 19:02] mugginns commented on #179
Hi, sorry to be a bother - I've uploaded my files as CAT etc, and done a release, but it is not showing up on the http://battlescribedata.appspot.com/#/repos site. Did I do something wrong? Sorry for the troubles.

Thanks

[2018-01-21 12:31] amis92 commented on #179
Works now, it's just taking it's time (6-12hrs sometimes), the sync mechanism is a polling one, and not very often too.

http://battlescribedata.appspot.com/#/repo/forager

[2018-01-25 08:29] nexomad commented on #130
Hello.

I am the responsible of the Super Hero Miniature Game System, I kept aside the project due a bug that didn't allow me to hide a character if another with same name exist; now this bug is solved, so I wanted to come back to work! 😊

I wanted to change the name of the actual Game System (Super Hero Miniature Game) to DC Universe Miniature Game (the real name of the game) and, if it is possib

[2018-01-25 08:40] amis92 commented on #130
So, you'd like to rename and update Super Hero to DS Universe, and create a separate new one for Marvel?

What experience do you expect users of current repo to have? Will they know to subscribe to a new repo? Will they want to update to one of them?

[2018-01-25 10:03] nexomad commented on #130
Yes, it would be:

- Change the Game System name from Super Hero Universe Miniature Game to DC Universe Miniature Game, maintaining the same Unique ID (I will test if it will automatically update, it should has).

- Create a new Game System called Marvel Universe Miniature Game and move all the specific data of Marvel.

- If not, we simply can change the name from Super Hero Universe Miniature Gam

[2018-01-25 11:40] amis92 commented on #130
It's not only a problem with unique ID. If we change repo name, we will break updates for existing users. They'll need to add these new repositories. If that's not a problem, then we're good.

Not sure if including Teams for Marvel under DC Universe is good xD

[2018-01-25 13:09] nexomad commented on #130
Yes, I know what you mean. Don't worry, any new user will see DC and Marvel games, and the rest will be informed via the blog.

So, we make this changes:

- Change the Game System name from Super Hero Universe Miniature Game to DC Universe Miniature Game.

- Create a new Game System called Marvel Universe Miniature Game and move all the specific data of Marvel.

How long would it take to make the

[2018-01-25 14:51] amis92 opened #180 "Redirected/archived/etc directives"
*This issue is more of a memo about ideas that popped up in my head*

As we continue our journey through time, we encounter more and more scenarios that are completely unsupported or don't provide nice user experience.

### Redirection
 We need to have a concept of redirection. It's currently implemented for 40k-mobile-format somewhere, but that's a temporary patch for a single use case hard-coded

[2018-01-25 14:54] amis92 commented on #130
Actually, I can do that right now. I think a better approach will be to create two new repositories, where you'll just upload files and make a release whenever convenient for you. The Super Hero repo will be archived. What about that?

[2018-01-25 15:12] Atr0k opened #181 "Legends of the Old West"
Hi,

I've created data files for Legends of the Old West, and old Warhammer Historical game. How are you handling the new repo creation and such?

[2018-01-25 17:34] nexomad commented on #130
Ok! I like that idea 😊

________________________________
De: Amadeusz Sadowski <notifications@github.com>
Enviado: jueves, 25 de enero de 2018 15:54
Para: BSData/bsdata
Cc: nexomad; Mention
Asunto: Re: [BSData/bsdata] [Add New Game System Request] Knight Models games (#130)

Actually, I can do that right now. I think a better approach will be to create two new repositories, where you'll just uploa

[2018-01-25 23:03] amis92 commented on #130
There you go:
* https://github.com/BSData/dc-universe
* https://github.com/BSData/marvel-universe

You're already a member so I've simply assigned you permissions. You can proceed as you wish in terms of dates.

Let me know after the change, so I we can retire the super-hero repo.

[2018-01-25 23:07] amis92 commented on #181
Hi @Atr0k,

in general, if you want to provide new game system's files, the procedure is as follows:

1. I create new repository for given game system
2. I invite you to the repo
3. You accept the invitation and gain push/write access to this new repository
4. You upload files and maintain them if possible.

The important part is that we Organization Admins do not have time to maintain/push/upload

[2018-01-26 00:11] Atr0k commented on #181
Yes, sure, maintaining a repository shouldn't be a hard task. Thank you!

[2018-01-26 12:46] amis92 commented on #181
Hi @Atr0k,

Please accept the invitation in the email or on the [repo webpage](https://github.com/BSData/legends-of-the-old-west/invitations). Welcome aboard!

The repo: https://github.com/BSData/legends-of-the-old-west

Don't forget to read through [Wiki pages](https://github.com/BSData/bsdata/wiki), there are some useful guides, especially [Developer Guide](https://github.com/BSData/bsdata/wiki/

[2018-01-26 12:46] #181 closed

[2018-02-03 15:18] DarthFraggle opened #182 "Problem with naming .gst"
I think I made an error in naming my .gst file "Warzone Resurrection 2.2". Now that 2.3 is out, if I were to change the name would it invalidate all lists made with the previous version? I'm considering renaming it Warzone: Resurrection in order to future-proof it. Right now the number of people using it is small enough that it may be the time to do it, regardless. Advice? @amis92

[2018-02-04 10:24] amis92 commented on #182
https://github.com/BSData/bsdata/wiki/Developer-Guide#most-common-mistakes

You can freely rename the inside-name of game system if you desire. The filename is only visible to you - end users almost never see files; you can rename file, but as you said that will "break" all previous rosters and what's more, it'll create conflict with current files users have, as the game system Id didn't change. S

[2018-02-04 12:37] DarthFraggle commented on #182
Thank you very much, I was hoping there was a better solution. It worked and I'll close this down.

[2018-02-04 12:37] #182 closed

[2018-02-07 09:50] pinecones opened #183 "Upload Underhive to bsdata repository available within mobile and desktop apps?"
Upload Underhive to bsdata repository available within mobile and desktop apps?

I am not sure how to do this myself. The underhive hasn't had issues and has been reviewed. Plus getting it out to more people would find any other errors.

BSdata/necromunda-underhive

[2018-02-07 13:03] amis92 commented on #183
I've linked you to the [Developer Guide](https://github.com/BSData/bsdata/wiki/Developer-Guide) when giving you the primer in #172. Please read carefully, you may find **Releasing** section quite interesting :)

[2018-02-07 13:03] #183 closed

[2018-02-11 16:52] Tomakokamikaze opened #184 "Battlefleet Gothic"
Hi there, I recently made a lot of improvements on the Battlefleet Gothic data repository, and was wondering how to make a release so my friends can acces it too

thanx, and sorry If Im asking in the wrong place, Im kind of new to Github.

[2018-02-12 15:55] nexomad commented on #130
Hello.

After a few but heavy changes, I am ready to:

- Delete the Super Hero Universe Miniature Game Repository

- Release Marvel Universe Miniature Game.

- Release DC Universe Miniature Game.

About this last point, I'm not sure if is going to be the same Unique ID System of Super Hero changed to DC. I mean:

Unique Systems ID :

Marvel Universe Miniature Game
c372-4887-df6a-ad9e

DC Universe

[2018-02-12 19:49] amis92 commented on #130
Yeah! That's ok. Proceed with releasing. I'll archive the Super Hero repo.

[2018-02-14 15:52] nexomad commented on #130
Hello.

I recently released  DC Universe Miniature Game. Few days ago I released too the Marvel one, but I saw a few mistakes and today I uploaded another release with changes, naming it 1.1. The problem is... Is this the way to update data? Making a new release with the Release option, creating a new version? Of course I upgraded the version on the modified catalogues, but I'm not sure if this is

[2018-02-14 16:06] amis92 commented on #130
What you described sounds okay. AppSpot website (and by extension, updating from BattleScribe) use cache, which is updated only so often. You may need to wait up to a day.

[2018-02-14 17:24] nexomad commented on #130
Ok, great! So Super Hero Universe will be changed to DC Universe, no? I mean: If somebody had the repository of Super Hero Universe, now will be automatically changed to DC Universe, is it like this?

________________________________
De: Amadeusz Sadowski <notifications@github.com>
Enviado: miércoles, 14 de febrero de 2018 17:06
Para: BSData/bsdata
Cc: nexomad; Mention
Asunto: Re: [BSData/bsdata]

[2018-02-14 17:44] amis92 commented on #130
No, that's not going to happen. People will need to change their Manage Data links

---
Amadeusz Sadowski

________________________________
From: nexomad <notifications@github.com>
Sent: Wednesday, February 14, 2018 6:24:55 PM
To: BSData/bsdata
Cc: Amadeusz Sadowski; Mention
Subject: Re: [BSData/bsdata] [Add New Game System Request] Knight Models games (#130)

Ok, great! So Super Hero Universe wil

[2018-02-14 17:51] nexomad commented on #130
Ok, perfect. Thanks!

________________________________
De: Amadeusz Sadowski <notifications@github.com>
Enviado: miércoles, 14 de febrero de 2018 18:44
Para: BSData/bsdata
Cc: nexomad; Mention
Asunto: Re: [BSData/bsdata] [Add New Game System Request] Knight Models games (#130)

No, that's not going to happen. People will need to change their Manage Data links

---
Amadeusz Sadowski

______________

[2018-02-15 07:48] nexomad commented on #130
Ok, both repositories are uploaded, including the new version of Marvel 😊. Please, could you delete the Super Hero Universe Miniature Game repository?

Thanks!

________________________________
De: Amadeusz Sadowski <notifications@github.com>
Enviado: miércoles, 14 de febrero de 2018 18:44
Para: BSData/bsdata
Cc: nexomad; Mention
Asunto: Re: [BSData/bsdata] [Add New Game System Request] Knight Mod

[2018-02-15 10:41] amis92 commented on #130
I can archive it. Deletion is not a thing (by that I mean we don't delete repos by design).

[2018-02-15 10:43] nexomad commented on #130
The problem now is that, as the DC and Super Hero have the same Unique ID
System, they are mixing in app... Maybe is better to change the unique ID
on the DC System?

2018-02-15 11:41 GMT+01:00 Amadeusz Sadowski <notifications@github.com>:

[2018-02-15 14:43] amis92 commented on #130
@nexomad you need to be more specific as to what mixes with what. Users who want to use new repos need to Purge Data in their BattleScribe apps and remove the link to SuperHeroes in Update Data, simple as that.

There's not really any other way to retain old rosters, and I think it's too late to change gamesystemId of DC gst.

[2018-02-15 14:47] nexomad commented on #130
Yes, the problem is that I thought that we are able to replace the Super
Hero to DC. Don't worry, in my blog I'll publish a guide to purge all the
data and delete the old repository.
And sorry about the inconvenience, I'm new in this stuff :)
Thanks!

2018-02-15 15:43 GMT+01:00 Amadeusz Sadowski <notifications@github.com>:

[2018-02-15 17:20] amis92 commented on #130
Cool. I think I also misunderstood you on the gst id  convergence. Sorry!

[2018-02-15 23:16] pinecones opened #185 "New repository for Necromunda Gang War"
I have been working on, building support for and getting many questions about Gang War. I would like to move it over to bsdata to make it easier for people to find.

[2018-02-18 09:29] morvael opened #186 "Repository for Dropfleet Commander"
I would like to submit data files for Dropfleet Commander. Can I get a repository for that?

[2018-02-18 19:46] amis92 commented on #184
Hey there!

I think it'll be easier if I just give you repo write access, so that you can freely manage it. I do however wonder, was creating another `Abbadons Black Crusade` catalogue intentional? Right now one has `BFGXR` suffix and the other doesn't. Also looking at summary of changes since last release, it seems the unsuffixed one had its name changed. Please change it back to how it was origi

[2018-02-18 19:52] amis92 commented on #185
Cool! You're already collaborating on the other necromunda repo, I'll invite you to the Gang War one - I think you know what to do next. Invite: https://github.com/BSData/necromunda-gang-war/invitations

Cheers!

[2018-02-18 19:52] #185 closed

[2018-02-18 19:56] amis92 commented on #186
Hi @USER,

Please accept the invitation in the email or on the [repo webpage](https://github.com/BSData/dropfleet-commander/invitations). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (https://github.com/BSData/dropfleet-commander)
2. I invite you to our organization
3. You accept the invit

[2018-02-18 19:56] #186 closed

[2018-02-19 04:02] Tomakokamikaze commented on #184
The name changing is a bad side effect of my battlescribe attempting to not override its last version. I apologize for it amd will fix it.
The BFGXR is for people who want to use a set of rules created by the BFG community. They differ from the standart BFG rules, so its best not to mix them. If you know a better way of sorting it I would be glad to hear it.

And I am definetly up for the task if

[2018-02-19 08:29] amis92 commented on #184
Hmm. We don't host community rules in general, with very few exceptions (9th Age). If it's a community effort, can it wait a month or two? And also, is only Abbaddon getting community rules?

[2018-02-19 10:28] Tomakokamikaze commented on #184
Well, Abbadon is the force I play, therefore the reason I wanted to make Improvements upon it. And I think it could wait, but then again I dont see why.

[2018-02-19 10:51] amis92 commented on #184
The reason is that there's a plan to enable having separate community repos (think addon/plugin) that just provide catalogues to an existing game system.

That'd make it so you have one repo for official game system, and other repos for unofficial/community extensions - this way those interested can get both, but those that aren't don't have to download unwanted content.

Do you think it'd be ok f

[2018-02-19 10:58] Tomakokamikaze commented on #184
Sure, i just was not seeing the data volume as an issue since all BFG files are so light up untill now

[2018-02-19 11:20] amis92 commented on #184
There you go then :) https://github.com/BSData/battlefleetgothic/invitations

[2018-02-19 11:20] #184 closed

[2018-02-19 11:28] Tomakokamikaze commented on #184
Thank you, I will not let you down.

[2018-02-19 21:20] morvael commented on #186
Hi @amis92

I have a few questions:
1) Do I have to push the files as soon as possible? Knowing how hard is to get an answer from BS author, I have created this issue well in advance (after creating working concept of the data files, with one army out of four, this is now expanded to three). You surprised me by creating the repository so quickly. I need a few more days to finish initial version.
2

[2018-02-19 21:42] amis92 commented on #186
I'd ask you to read Developer Guide linked above and come back with revised list of questions :D

@ 3 - don't worry, unless AWOL I ask repo maintainers (people interested should open issues in given repo).

[2018-02-19 21:43] amis92 commented on #186
Also, Jon (BS developer) doesn't really handle community here, I do - and I don't develop BattleScribe in turn.

[2018-02-19 22:42] morvael commented on #186
@amis92, thanks for pointing me to the guide, somehow I read only the first part about setting up "dev environment".

I wish Jon was less elusive, or (at least) that there would be a dedicated bug reporting tool for BS. Currently bug reports have to go to uservoice wishlist and become drowned in hundreds of good ideas posted there (but "only" ideas), and one has to spend one of the precious votes

[2018-02-20 00:40] amis92 commented on #186
There is a special bureport repo for dataauthors, now that you've joined us I can give you this very secretive link ;) Do not share with non-data-authoring community, though. It really is for data-author reports only. https://github.com/BattleScribe  - there you have a repo for release bugs, and those from beta, which it probably is not in your case.

[2018-02-20 10:24] morvael commented on #186
@amis92 Thanks a lot for that link. I made two bug reports with test cases. I hope they will be looked at.

[2018-02-21 12:50] PogoNeo opened #187 "40k V8 / points for the Twin Boltgun on Biker"
Hi,

For this data "Warhammer 40,000: Heralds of Ruin 8th Edition", I don't see the value of the Twin Boltgun for the Space Marine (4pts/model).

Best Regards,
PogoNeo

[2018-02-21 13:05] PogoNeo commented on #187
Sorry, the good value is 2pts/model for the Twin Boltgun

[2018-02-21 14:09] amis92 commented on #187
Hello,

this is game-system specific issue. I'd like to kindly ask you to open the issue in the appropriate repo, in this case probably [HoRKT 40k](https://github.com/BSData/wh40k-heralds-of-ruin-killteam).

I'll close this issue and hopefully an appropriate maintainer will respond to the new one when you open it. I suggest you copy the text all over.

Kind regards,
Amis, your local admin :)

PS y

[2018-02-21 14:09] #187 closed

[2018-02-21 15:22] PogoNeo commented on #187
Thanks for your help, and sorry for the wrong location.

I go to the good chanel with this point ;)

Best Regards,
PogoNeo

[2018-02-24 00:43] Tomakokamikaze commented on #184
So, I made a new releae, bit  still cant access it through my phone. anything I should Have done?

[2018-02-25 13:29] amis92 commented on #184
It takes up to 24 hrs, keep that in mind. Should be available now :)

[2018-02-25 15:00] anarchyal420 opened #188 "Have to thought about doing data files for Heavy gear blitz?"
Have to thought about doing data files for Heavy gear blitz? The 2016 update on the living rule book?

[2018-02-25 22:31] DarthFraggle opened #189 "New repository: AVP: Unleashed"
Hello, I've just finished the files for AVP: Unleashed by Prodos games. Could we start a repository for them?

[2018-03-02 12:23] DarthFraggle commented on #189
@amis92 is the procedure the same for starting a second repository? I haven't uploaded the files yet as last time I had to re-upload them to the repository you created.

[2018-03-02 13:06] amis92 commented on #189
Yeah, procedure is the same. I'll create the repo.

[2018-03-02 13:09] amis92 commented on #189
https://github.com/BSData/avp-unleashed/invitations

Cheers!

[2018-03-02 13:09] #189 closed

[2018-03-18 07:30] madlou opened #190 "URL https://battlescribedata.appspot.com/repos seems to be down"
I'm getting the below error on https://battlescribedata.appspot.com/repos:

Title: 500 Server Error

Error: Server Error
The server encountered an error and could not complete your request.
Please try again in 30 seconds.

[2018-03-18 07:54] D6Frag commented on #190
Same for me - java.io.IOException: Server returned HTTP response code: 500 for URL: https://battlescribedata.appspot.com/repos

[2018-03-18 15:58] madlou commented on #190
Seems to be fine for me now, closing.

[2018-03-18 15:58] #190 closed

[2018-03-20 10:15] don124 opened #191 "Deathwatch"
Hi guys I was just wondering if possible would someone be able to add to the deathwatch kill team data file an individual primaris marine as I want to use 1 of each but pay all the points for a squad of 3 or 5 or will an individual primaris be added when the kill team game is released if I knew how to do it myself I would but as I don't I need help with the issue or if someone can give me help I w

[2018-03-20 10:32] amis92 commented on #191
Hi. I'm sorry, but the lack of punctuation really hinders my ability to comprehend your post. This repository is actually for the website that serves datafiles, not datafiles themselves.

I'm not entirely sure what repository is your issue directed at, I can only suggest you to choose the one you actually talk about. I can guess you meant https://github.com/BSData/wh40k-heralds-of-ruin-killteam -

[2018-03-20 10:32] #191 closed

[2018-03-20 21:20] don124 commented on #191
Warhammer 40.000 8th edition V40
Imperium - Deathwatch V19
Troops
Deathwatch Kill Team

Can you please insert into this catalogue all types of primaris space marines with the following names

Intercessor marine
Agressor marine
Reiver marine
Inceptor marine
Hellblaster marine

With all there weapon options and as a single marine and not a squad so people have the choice of being able to create the

[2018-03-20 22:05] tekton commented on #191
@don124 I'm not seeing anything in the FAQ of Imperium 1 Index that would allow that to be a valid formation/squad of Deathwatch Kill Team.

There will be NEW rules for the upcoming game Kill Team that was announced that we don't know what they will be, but that is separate from the core 40k game and rules.

[2018-03-26 02:55] klodlem1 opened #192 "Warhammer armies project"
Is there any chance that we will see the 9th edition from WAP made available? The rules are free and I would be happy to help in any way.

[2018-03-26 09:14] amis92 commented on #192
I'm sorry, but I don't know anything about it. What is it, where is it, who does it? Links?

[2018-03-26 09:27] klodlem1 commented on #192
http://warhammerarmiesproject.blogspot.de

WAP basically takes the 8th edition of WFB and changes them where there is need. So you have rules that are more similar to the original game then the 9th Age but also without many of the flaws of the 8th edition to avoid specific overpowered builds ad just generally rules that make sense gamelan wise. Atm there is a rulebook and new army book with lore t

[2018-03-26 09:41] amis92 commented on #192
I'm not sure, but it sounds like you came here to ask if someone will do the datafiles. Well, you need to find these people by yourself, we're only doing what anyone volunteers to do.

If you want, you can write datafiles anyway. I cannot guarantee you we'll host them on our site, but you can always share them by yourself via dropbox/other means.

[2018-03-26 09:44] klodlem1 commented on #192
Alright I was actually hoping that maybe someone else had already done something similar but if you could point me in the right direction I would be happy to try this myself. I have read that I need the PC Version to edit files is that correct? Do I need a separate program to create a new file from scratch?

[2018-03-26 09:48] amis92 commented on #192
Well, we have [wiki](https://github.com/BSData/bsdata/wiki) which has some nice resources. You stated that there are much less changes to 8th ed WFB, so maybe just start with the files from 8th ed WFB instead of creating everything from scratch. https://github.com/BSData/whfb

Taking inspiration from already existing work is the best we can offer besides the wiki. Obviously wh40k repo is the most

[2018-05-01 16:53] mugginns opened #193 "[Join Request] The Walking Dead"
Hi, I've updated the game to be in line with all current releases on my machine, would like to pull to master. Thanks

[2018-05-16 13:19] cartag opened #194 "Gaslands - new repo"
Can we please set up a repo for Gaslands? Files are ready to upload. Thanks!

[2018-05-17 13:19] #194 closed, assigned to nobody

[2018-05-23 02:22] XWingDrLucky opened #195 "Missing Repos on battlescribedata.appspot.com"
When I pull up battlescribedata.appspot.com only about half of the repos appear when the page loads.  Of the repos I maintain, I notice that the repo for Star Wars: X-Wing appears but Star Wars: Legion and Star Wars: Armada don't show up. The pages are still here on github - they just aren't showing up on the battlescribedata.appspot.com front page.

[2018-05-23 03:13] MasterSlowPoke commented on #195
Even the normal 40k repo is gone.

[2018-05-23 08:48] amis92 commented on #195
All except Armada are there now, so it was a typical after-release hiccup.

Armada might have an actual problem though. @Jonskichov can you check for a reason?

[2018-05-24 01:23] ff5271 opened #196 "What happend to Battle scribe 40k?"
I have no repos, error 500 code after downloading the new update. Any suggestions? Already dumped it and reloaded.

[2018-05-24 01:41] ff5271 commented on #196
Details:

java.io.IOException: Server returned HTTP response code: 500 for URL: https://battlescribedata.appspot.com/repos
	at sun.net.www.protocol.http.HttpURLConnection.getInputStream0(Unknown Source)
	at sun.net.www.protocol.http.HttpURLConnection.getInputStream(Unknown Source)
	at sun.net.www.protocol.https.HttpsURLConnectionImpl.getInputStream(Unknown Source)
	at net.battlescribe.a.c.e.a(Batt

[2018-05-24 11:00] amis92 commented on #196
Probably same after-release glitch as #195. We need to update the webapp but there's no one to do it.

[2018-05-24 11:00] #196 closed

[2018-06-04 06:35] XWingDrLucky commented on #195
Everything seems to be in order now.  I'm not sure what happened or why it is working again but since there doesn't seem to be an active, identifiable issue, I'll close this.

[2018-06-04 06:35] #195 closed

[2018-06-04 13:48] Tigerwraith opened #197 "I would like to join the BSData team"
I'm working on data files for CAV:SO (Combat Assault Vehicle: Strike Operations) I'm still in the beginning stages of creation, but I have a couple of people that want to help out. Please let me know what I need to do to get my project added.

Thanks

[2018-06-04 15:55] amis92 commented on #197
Hi @Tigerwraith,

Please accept the invitation in the email or on the [BSData organization webpage](https://github.com/BSData). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given game system (https://github.com/BSData/cav-strike-operations)
2. I invite you to the repo
3. You accept the invitation and gain p

[2018-06-04 15:55] #197 closed

[2018-07-23 11:01] Hellgore1974 opened #198 "No datafiles downloadable"
Can't get any Datafiles for android. "There was an error getting the data files. The site may be overloaded right now. Please try again later."  Is showing since saturday now when I follow the repository-link. I have the latest BS version .21.283
Because I normally delete old data when updating I'm now left with no data at all for my army lists :(
Anybody able to help?

[2018-07-23 11:40] superallumette commented on #198
Hello,
Same here, there is an HTTP 500 Error from the server.

[2018-07-23 11:56] amis92 commented on #198
I've reset the machine, should work again.

[2018-07-23 11:56] #198 closed

[2018-07-24 17:26] petreopatroklos opened #199 "Age of Sigmar in Spanish"
Hi! I already translated Age of Sigmar repository to spanish.

How can I apear on main list?

https://github.com/petreopatroklos/Git-AOS/commit/1694edfe4da92b73b6d9fc8bde930994ecc7347d#diff-272e8fe6c0bcf7b85a6b02f534967a8f

Thanks

[2018-07-28 11:29] nathanjones1 opened #200 "kill team"
Will you please add
Warhammer 40,000: Kill Team (2018)
from github to your All Repositories list
I have my been able to add it directly from Github to my mobile Battlescribe app

thanks

[2018-07-28 21:34] dthomso1 opened #201 "Adding data for the game Blood Eagle?"
I can supply the data if you guys could add in the game system blood eagle. I have a play group that uses this app for many systems and would love to continue to do so with blood eagle

[2018-07-29 14:52] amis92 commented on #200
Release pushed, issue closed.

[2018-07-30 08:22] amis92 commented on #201
Hi @dthomso1,

For my own reference, this is the webpage for the game: https://theministryofgentlemanlywarfare.wordpress.com/blood-eagle/

Please accept the invitation in the email or on the [repo page](https://github.com/BSData/blood-eagle/invitations). Welcome aboard!

In general, if you want to provide new game system's files, the procedure is as follows:
1. I create new repository for given ga

[2018-07-30 08:22] #201 closed

[2018-07-30 12:51] #200 closed

[2018-07-31 08:27] amis92 commented on #199
@petreopatroklos I'm rather negative on that. BattleScribe doesn't support translations. I'm really sorry, because translating everything there was certainly a lot of work. However, unless you have some kind of an automatic tool, your datafiles will quickly become desynchronized with the originals - there's small chance you'd keep up with the amount of work a good couple of people do there.

I'm o

[2018-08-03 14:00] amis92 commented on #192
Closing because of inactivity.

[2018-08-03 14:00] #192 closed

[2018-08-03 14:04] amis92 commented on #199
Closed in favour of referenced issue.

[2018-08-03 14:04] #199 closed

[2018-08-03 14:04] amis92 commented on #174
Closed in favour of referenced issue.

[2018-08-03 14:04] #174 closed

[2018-08-03 14:08] amis92 commented on #188
Unless there's someone who voluntarily creates files, we can't help. We don't have any team waiting for new system to drop and implement it. This organization is passive in terms of providing files. Whatever community provides, we may host at our discretion.

[2018-08-03 14:08] #188 closed

[2018-08-03 14:09] amis92 commented on #153
Closed in favour of https://github.com/BSData/catalogue-development/issues/16

[2018-08-03 14:09] #153 closed

[2018-08-09 08:44] silentpolygon opened #202 "New Repo Dragon Rampant"
Hello,

I've begun to create Data Files for the Game Dragon Rampant by Osprey Publishing. The repo is at:

https://github.com/silentpolygon/BS_DragonRampant

I wolud be happy if it makes in the BSData Repo.

Kind regards
Thorsten

[2018-08-09 12:52] amis92 commented on #202
First off, this is a duplicate of #109. Second, there seems to already be a game system and catalogue created. Which means you've duplicated the effort. And third, this is no longer valid place to request new repositories for game systems. Now the correct one is https://github.com/BSData/catalogue-development as laid out in [Getting Started](https://github.com/BSData/catalogue-development/wiki/Get

[2018-08-09 12:52] #202 closed

[2018-08-10 11:13] amis92 commented on #132
Invitation withdrawn due to age.

[2018-08-20 07:25] EnderPal opened #203 "New game system."
How do I go about getting in touch with someone about getting the files I have made for a new game system added?

[2018-08-20 08:38] #203 closed

[2018-09-07 08:37] JustusW opened #204 "Only 5 Repos available"
Currently there are only 5 repositories available, I could download more a few days ago, but now on Desktop and on Mobile almost none are available and all the ones I used are missing.

[2018-09-28 05:31] mugginns opened #205 "[The Walking Dead] Added commits to master, can't figure out why they aren't showing up in later data"
Hi, I only do this every six months or so so I forget what to do - I made some changes in the data editor to Walking Dead files, committed them to the master, but they won't show up in the online data files. What did I do wrong?

[2018-10-01 05:47] Starkman9000 opened #206 "New repo: X-wing 2.0"
I would like to add a new repo for FFGs Star Wars X-wing Second Edition. I have the core set converted already and will be working on the rest throughout the week.

Regards.

[2018-10-01 19:35] Piemur1 opened #207 "Warhammer 40k - Ork Stompa"
Damage track for the Ork Stompa only states characteristic 1, characteristic 2, characteristic 3 instead of Move, WS, and Strength.

[2018-10-01 19:40] #207 closed

[2018-10-01 19:42] Piemur1 commented on #207
Wrong github section

[2018-10-02 19:48] amis92 commented on #206
Please discuss it with the x-wing repo maintainer in an issue opened in that repository. We do not practice "new repo for new edition" with very few exceptions, like the 8th ed of 40k.

[2018-10-02 19:48] #206 closed

[2018-10-02 19:49] amis92 commented on #206
That's the repo: https://github.com/BSData/swxwing

[2018-10-02 19:52] amis92 commented on #204
Deprecated. Recurring issue, however for now I'm closing.

[2018-10-02 19:52] #204 closed

[2018-10-04 02:57] Starkman9000 commented on #206
Just a question, but what would qualify a repo for an exception? I've opened a ticket on the x-wing repo, but feel like there won't be any plans to update due to major format change the new edition has.

[2018-10-04 07:05] amis92 commented on #206
To answer shortly, there are no specific indicators or conditions for an exception. That one time it was done for 8th was a long discussion, and it was a result of many, many changes we were doing, including reorganization of the team structure, the organization structure, repo access rights, complete rewrite, a very strict and announced cutoff of the 8th (index thing, all new rules), and so on. T

[2018-10-10 09:11] MCyprien commented on #204
Hello @amis92
I don't understand what is deprecated, is there a solution to this issue ?

[2018-10-10 09:54] JustusW commented on #204
It means "we don't care it happens, deal with it"...

[2018-10-10 10:57] amis92 commented on #204
There is no solution, and we are unable to conceive and deploy one. The web app developer is unavailable, the issue is widely known, although no reproducible scenario is known.

We do not know why it happens, we cannot fix it as Data Authors, and seemingly there is no willingness from the app developer to do so as well.

We're stuck as it is. So it is more of a duplicate, but there's no actual iss

[2018-10-10 11:00] amis92 commented on #142
Reference: https://github.com/BSData/catalogue-development/issues/15

[2018-10-10 13:46] amis92 opened #208 "Problem with website: down time, not responding, 500, 404 - often after new release"
Current status:
![BSData data server status](https://img.shields.io/website?label=BSData%20data%20server&url=http%3A%2F%2Fbattlescribedata.appspot.com%2Frepos)
Status monitor: https://stats.uptimerobot.com/QAEwmS6XLG

There is a recurring problem with the website being unresponsive, not loading repository list, loosing some repositories for some time, responding with 404/500 errors. There might be

[2018-10-10 13:47] amis92 commented on #204
Marking as duplicate of #208

[2018-12-10 04:56] Hukoseft opened #209 "Multiple Middle-Earth Repositories"
I have created a repository for Middle-Earth Strategy Battle Game, it is complete (aside from extra's) however I am unsure of how to get it on the list of repositories available for people to easily download from inside the app.

https://github.com/Hukoseft/Middle-Earth-SBG is the location of the files

[2018-12-13 23:00] amis92 commented on #209
I'm going to move the issue to our already existing middle earth repo. Please coordinate using your files, replacing ours or somehow merging the two with the collaborators on the target repo.

[2019-01-06 12:48] evertonpendragon opened #211 "[Join Request]"
I'd like to add a new repo that consists of a translation of warhammer 40k to brazilian portuguese.
I've create a python script that reads the cat files and  replace the english texts with the portuguese translation. It uses the latest realease from wh40k repo.
The translation is made using Google Translator API, it create a dictionary file that can be edited by the comunity, helping to improve th

[2019-01-18 08:43] nexomad opened #212 "[Add new Game System request] Harry Potter Miniatures Adventure Game"
Hello.

I want to host in your awesome repository a new Game System for the game Harry Potter Miniatures Adventure Game of the company Knight Models. Is it possible? Now I already have uploaded the DC and Marvel Systems.

Regards.

[2019-01-28 11:55] nexomad commented on #130
Hello.

I write directly to you here because I have your contact when we talked
about other Game System:

I received no answer in the issue *#212 [Add new Game System request] Harry
Potter Miniatures Adventure Game*, and I wanted to know if that's the
correct place to write my petition. Of course I don't want to pressure you,
I only want to ask :)

Regards!

[2019-01-28 12:42] amis92 commented on #130
No, not really the correct place. I'll move the issue over to catalogue-development.

[2019-01-28 14:34] nexomad commented on #130
Ok, thanks! I followed the link on the main site of Battlescribe Data Files
<http://battlescribedata.appspot.com/> (exactly this link
<https://github.com/BSData/bsdata/issues>), I think it is wrong.

So now I have to wait until any of you craete the repository, no?

Thanks!

El lun., 28 ene. 2019 a las 13:42, Amadeusz Sadowski (<
notifications@github.com>) escribió:

[2019-01-28 16:11] amis92 commented on #130
Oh! That's true. I'll note to modify this :)

[2019-01-28 16:12] amis92 opened #213 "Change link for "host files with us" to wiki about new repo"

[2019-01-29 12:02] nexomad commented on #130
You're welcome! One little question: I uploaded and released all necessary
files and I can't see them in Battlescribe Data, do I have to wait until
the automatism publish the GameSystem or I did something wrong?

Regards.

El lun., 28 ene. 2019 a las 17:11, Amadeusz Sadowski (<
notifications@github.com>) escribió:

[2019-01-29 12:20] amis92 commented on #130
You do have to wait, same as with update releases. :)

[2019-01-29 12:35] nexomad commented on #130
Ok, thanks; I've never understood the procedure :D

El mar., 29 ene. 2019 a las 13:20, Amadeusz Sadowski (<
notifications@github.com>) escribió:

[2019-01-31 07:43] nexomad commented on #130
Other quick question: If I want to upload the same Harry Potter Game System
but, instead in english, in spanish, do we have to create another
repository?

El mar., 29 ene. 2019 a las 13:35, Adrian Fuertes (<adrianfuertes@gmail.com>)
escribió:

[2019-01-31 15:56] amis92 commented on #130
The discussion about Harry Potter system should be in appropriate Issue. This issue is for Knight Models.

Last answer re: Harry Potter here.

Localization in catalogues is not yet supported and won't be in near future: https://github.com/BSData/catalogue-development/issues/15

[2019-02-09 08:02] Kuinasan opened #214 "Add new Game"
Hello, I have written a new game data for battlescribe, I would like to upload it so everyone can use it. What do I have to do for it? And how can I update it later?

[2019-02-20 14:15] jtarbox opened #215 "Data Usage Question"
I'm considering making a free website (w/ minimal ads to pay for hosting) for Warhammer 40k to be able to quickly search and filter units by keywords, features, and wargear, with some baseline data showing and maybe a bit "mathhammer" as well.  I would want to keep this updated using the data generated by your team for 40k, but would like permission to use this data before I attempt any such endea

[2019-02-22 11:59] r4dh4l opened #216 "BattleScribe Android app via F-Droid possible?"
Hi,

I couldn't find the repo for for https://play.google.com/store/apps/details?id=net.battlescribe.mobile.rostereditor so sorry if this request is in the wrong category: Would it be possible to provide the Android app via https://search.f-droid.org/ as well?

[2019-02-22 12:17] r4dh4l commented on #215
Well, maybe you point on the fact that there are no license information in the repos?

I just noticed this as well. [CC-BY-SA](https://creativecommons.org/licenses/by-sa/4.0/legalcode) license would be a very good choice. For those who are not yet familiar with Creatice Commons (CC): CC-BY-SA would allow reusing the data if

- the org. author(s) is/are mentioned (BY)
- any modifications are licens

[2019-02-22 15:55] jtarbox commented on #215
Granted, I did not find any licensing when I was looking around.

I could easily follow the CC licensing requirements.  I don't think I'll be copying any code, so I don't know how useful AGPL would be.

[2019-02-22 16:18] r4dh4l commented on #215
Well, maybe it would be better to rename "Data Usage Question" in "Data license situation"?

[2019-02-23 20:16] amis92 commented on #216
Please open this issue in https://github.com/BattleScribe/Release :)

[2019-02-23 20:16] #216 closed

[2019-02-23 20:24] amis92 commented on #215
The license is missing because there legally can't be any given by us. This is an open-source project but since it contains copyrighted material (copyrighted by game publishers) without any licensing for us from the publishers, it's essentially non-licenseable from us as well. Some call it legal grey area. Unfortunately, there's not much we can give you.

The only thing I'd imagine to be fully leg

[2019-02-23 20:50] r4dh4l commented on #215
Really? Well, if I write a thesis and it contains non-free material (quoted texts from other authors) - this would mean I can not publish my thesis under CC-BY-SA, but I can, of course. I'm not a lawyer but as far as I understood the concept the CC license would only affect the parts you wrote, not the parts you quoted (as long as you quote in the right way by mentioning your source).
And if I wou

[2019-02-23 20:54] r4dh4l commented on #216
https://github.com/BattleScribe/Release/issues/31 - done, thx! :)

[2019-02-27 18:13] williamcaw opened #217 "linking issues in other subfiles of the same issue"

[2019-02-27 18:14] williamcaw commented on #217
this is a community guideline issue on the ability to fork issues for reference.

[2019-02-28 00:09] amis92 commented on #217
Hi @williamcaw I'm not sure what exactly do you want to be able to do.

Could you expand your request a little more?

[2019-02-28 00:21] williamcaw commented on #217
i have joined this community not as a programmer but as a person just stringing together references of pass ideals or stuff that has been scraped to conjoin items of other information so its not lost . im autistic as of today my mind has been thinking of things that i never want to have and never want to have again. when ever we use the hashtag to reference as a manual fork of information from pas

[2019-03-13 09:20] Radar321123 opened #218 "missing Repositories"
![repositiories](https://user-images.githubusercontent.com/48512401/54267412-47febd80-45cd-11e9-90e4-cc455f1d3e9d.png)

I can't access all the repositories, just Firestorm Armada and Warpath. what is wrong?

[2019-03-13 20:29] amis92 commented on #218
Marking as duplicate of #208. Again, a periodical issue we're probably not going to fix anytime soon.

[2019-03-13 20:29] #218 closed

[2019-03-25 10:51] Drizzt-IT opened #219 "Question regarding Joining"
Hi,
I would like to add the Data for Wild West Exodus and Dropzone Commander.
I opened an Issue in each for joining. But there has no one been active for a very long time.
So I'm not sure how long I should wait for a response?

How long does it usually take?

[2019-04-02 06:54] amis92 commented on #219
Hi, sorry, I've been busy, then forgot, then forgot again and now I've sent the invites :)

[2019-04-02 06:54] #219 closed

[2019-04-02 19:07] Drizzt-IT commented on #219
Thx!

[2019-04-04 14:10] mugginns opened #220 "New Repository - The Walking Dead: March to War"
Hi, I am working on a new catalog and game system for The Walking Dead: March to War. Can you create a repository for this please?

[2019-04-04 22:31] Jonskichov commented on #220
This repository is for the issues relating to the data site itself.

You probably want to open an issue here: https://github.com/BSData/catalogue-development/issues

[2019-04-04 22:32] #220 closed

[2019-04-09 08:38] Mayegelt opened #221 "Horus Heresy data"
The Horus Heresy data has had some major updates. Just before the end of the month. I the current one is a few days behind that commit.

[2019-04-21 13:17] Drakice84 opened #222 "Adding new repository for a new game"
Hi! Which are the steps for adding a new game?
We are a Spanish group supporting Punkapocalyptic game, we have the data created and wanted to be in this repositories.
Thankyou!

[2019-04-22 16:03] amis92 commented on #222
https://github.com/BSData/catalogue-development/wiki/Getting-Started#new-game-system

[2019-04-22 16:03] #222 closed

[2019-04-22 16:12] Drakice84 commented on #222
Thankyou very much!!

[2019-05-03 20:48] vderkara opened #223 "No Mountable File Systems"
Hey trying to download and install latest update on my macbook. Its giving me a "no mountable file system" when I try to open the .dmg. Anyone come across this? any solutions?

I've tried:
disk repair the HD.
downloading from a different browser.
mounting from Terminal.
Rebooting.

nothing works.
Other .dmgs are able to mount. Makes me wonder if downloaded file is corrupted.

[2019-05-04 22:14] Lionaus opened #224 "Errors: NameResolutionFailure"
When I go to my data repo (recently uninstalled and reinstalled the app after not using it for 2 years to try and fix this error) it comes up with the above error message. The same message comes up when I try to load any repo data.

Any ideas how to fix this? Looks like it’s an error that’s gone on for a while but never had a clear “this is how to fix it” answer from what I can see on reddit etc

[2019-05-05 20:55] amis92 commented on #224
Please raise it on https://github.com/BattleScribe/Release

This repo is only for datafile-serving webapp/website.

[2019-05-05 20:55] #224 closed

[2019-05-05 20:55] amis92 commented on #223
Please raise it on https://github.com/BattleScribe/Release

This repo is only for datafile-serving webapp/website.

[2019-05-05 20:55] #223 closed

[2019-05-10 13:22] zhangxianzhong opened #225 "About localization fo wh40k"
I forked BSData/wh40k and localized it to Chinese And I want to keep updating it. Can I post it to battlescribedata.appspot.com,This is my project https://github.com/zhangxianzhong/40K-Chinese-Localization

[2019-05-10 14:39] amis92 commented on #225
This is already answered in https://github.com/BSData/catalogue-development/issues/15

I'm sorry, but currently the answer is no. Please follow the issue linked above. It's still on our radar. :)

[2019-05-10 14:39] #225 closed

[2019-05-12 21:19] capitaladot opened #226 "All rosters being deleted as corrupted."
Details:

net.battlescribe.a.c.g: File was corrupted and has been deleted: C:\Users\austi_000\Dropbox\apps\BattleScribe\rosters\Thousand Son's 1750.rosz
	at net.battlescribe.a.a.o(BattleScribe:1215)
	at net.battlescribe.desktop.rostereditor.RosterEditorFrame.c(BattleScribe:583)
	at net.battlescribe.desktop.rostereditor.RosterEditorFrame.v(BattleScribe:1740)
	at net.battlescribe.desktop.rosteredito

[2019-05-13 11:02] amis92 commented on #226
@capitaladot please open the issue here: https://github.com/BattleScribe/Release/issues

Also, attach information such as OS, BattleScribe version and whatever else you can provide. :)

[2019-05-13 11:02] #226 closed

[2019-06-03 06:58] BitPsycho opened #227 "Repo Vanguard gone ????"
Hi,

The repository 'Kings of War - Vanguard' has disappeared from appspot ?  The latest release (8) was published 16 days ago and was there just fine ...  since then I didn't change anything.

http://battlescribedata.appspot.com/#/repo/kings-of-war-vanguard

What happened ?

Thanks

[2019-06-03 10:10] amis92 commented on #227
That's the repo for datasite issues

[2019-06-03 10:11] amis92 commented on #227
Duplicate of #208

[2019-06-03 10:11] #227 closed

[2019-06-07 10:03] BitPsycho commented on #208
Vanguard Repo was gone ... then back and now gone again ... sigh ... This  is causing alot of unnecessary complaints from users asking me where the repo is ... AND undermines the faith in BS ... This is clearly a BUG and bugs can be catched don't they ?

[2019-06-07 10:07] amis92 commented on #208
This website is essentially an abandonware at this point. If you know any web developer happy to contribute, please share.

I'm not in position to fix this, and none of the other people around here are, AFAIK.

[2019-06-07 11:10] bguyan commented on #208
whats the problem? is there a way i can see the code for the site?

[2019-06-07 11:15] amis92 commented on #208
@bguyan my guess is that the webapp uses up the GitHub API request limit and some repos "fall-off" the site simply because during refresh cycle they were the last ones and got the Rate-Limiting error.

[2019-06-07 11:17] amis92 commented on #213
Fixed via https://github.com/BSData/bsdata/commit/13e9c94bcbb2e6e4c74af102db51fd989ef1b6ea#diff-747e7a37d03935942014106202566830R77

[2019-06-07 11:17] #213 closed

[2019-06-07 11:31] amis92 commented on #217
Thank you for the explanation. Under a specific perspective, this sounds like a great idea.

Let me explain why it might have been seen as irritating. Whenever a comment is added for an issue, everyone who participated in it is notified of this new activity. This means that when you cross-reference issues, many people get a lot of notifications, which are not really useful. It does not change an i

[2019-06-07 11:33] bguyan commented on #208
@amis92
Yeah I cant do too much today but ill create a few calls to the API and see what i get if its a problem with numbers we can look at paginating or breaking up the calls.

[2019-06-07 11:35] amis92 commented on #208
I've investigated some optimizations in #112 and I think the best approach would be to use the webhooks. It'd probably drastically drop the number of requests made.

[2019-06-07 11:41] NistrumCain commented on #112
OK, @amis92  (this is me in my non work account) im going to say ill commit some time into this and see if i cant help you guys out. the new API for github is graphQL based i think (based on a very quick look) so if i am lucky i might well be able to handle this really nicely... will have to wait and see.

Im a react(a js framework) dev by day so while this isnt exactly my sort of code i should be

[2019-06-07 11:53] amis92 commented on #112
Oh maaan. Would you also *oh so love* to rewrite the frontend as well sometime in future? It's really just two views (list and details). 😇

I can help with backend anyway you want.

[2019-06-07 12:25] NistrumCain commented on #112
yeah, what do you want from the frontend you don't get now?

[2019-06-07 12:34] amis92 commented on #112
Let's move the frontend discussion somewhere else.

Do you mean which GitHub API? I'll investigate.

[2019-06-07 12:48] NistrumCain commented on #112
Where do you want to move it to?
And yeah, i just want to be able to query Github the way the site does and see if i can get replicate the problem

[2019-06-07 12:51] amis92 opened #228 "Fronted discussion"
The website is currently written in Angular.js. It's an outdated framework, and there will only be less and less people able to help us fix it.

As such it's probably best to rewrite the app in a more modern framework with considerable support and community.

[2019-06-07 12:54] amis92 commented on #112
Let's open a new issue: #228 (frontend)

For the APIs it'll be this one for release listing:
https://developer.github.com/v3/repos/releases/

[2019-06-07 13:15] NistrumCain commented on #208
OK. to solve this problem we need to make sure we override the API default with a per-page listing.. at the moment we are hitting some sort of default max when we query the page..

so if you make this call

https://api.github.com/users/BSData/repos

you only get to F

but if you make this
https://api.github.com/users/BSData/repos?per_page=500
you get them all..  i just dont know where those calls

[2019-06-07 13:27] NistrumCain commented on #228
If you want me to take a look at the frontend code it would be really good if i could get a good idea of what features/changes/bugs you want/need/have for the platform going forward.

[2019-06-07 14:53] amis92 commented on #228
To be honest, the frontend is not heavily used anymore, except the "Report a bug" feature.

So, the features currently required for frontend:
* display a list of repositories
* display a list of datafiles in repository
* report-a-bug feature as a popup or something else

There are a couple of static links as well, and there's a feature to anonymously provide a datafile update. But it's being rarel

[2019-06-07 14:55] amis92 commented on #208
It's in https://github.com/BSData/bsdata/blob/master/src/main/java/org/battlescribedata/dao/ReleaseService.java#L41-L56 - it seems the call is already being paged.

[2019-06-07 15:02] amis92 commented on #208
Soo this is where the call is made. It *seems* to be paged, but I don't have the libraries it's using right now, so I don't know what do these different calls actually do.

https://github.com/BSData/bsdata/blob/41af6dbb415918dd9d1d074f23c36d3fc05919f4/src/main/java/org/battlescribedata/dao/ReleaseService.java#L41-L56

[2019-06-07 15:24] NistrumCain commented on #208
so this java backend is the system that hands off to battlescribe? i could make the request in the frontend just though github but im guessing the java is the bit that talks to BS?

[2019-06-08 06:52] amis92 commented on #208
Yeah. Java backend is a kind of a REST web API, and BattleScribe talks to it, as well as the frontend, but the frontend isn't necessary for BattleScribe to do anything, it's just a separate client. BattleScribe needs the backend to serve up repo list, repo details, provide repo index and allow downloading of separate files.

[2019-06-08 10:50] NistrumCain commented on #208
ok, well ill get this spun up locally and see if i can force it to make a call that collects all the repos and if i can ill create a pr if i can?

[2019-06-09 17:14] NistrumCain commented on #228
Yeah all of that is simple enough, itll take me longer to solve this java problem than it will to write that lot up

[2019-06-09 21:49] amis92 commented on #228
Well, if you need to choose, I think the fronted will be much more valuable contribution :)

[2019-06-10 11:22] NistrumCain commented on #228
Sure I'll build a new frontend and I can look at getting that pesky backend to work once I'm a little more familiar with the page..

[2019-06-10 11:36] NistrumCain commented on #228
Sure I'll build a new frontend and I can look at getting that pesky backend to work once I'm a little more familiar with the page..

[2019-06-18 07:13] BitPsycho commented on #208
Thanks guys for all the digging ...

Seems to me that the issue is simply the default page size being set in the standard GIT api code ?

`public static final int PAGE_SIZE = 100;`

Then if no parameters are passed along the call is executed with this size

`/**
	 * Create paged request with default size
	 */
	public PagedRequest() {
		this(PAGE_FIRST, PAGE_SIZE);
	}`

It seems to me that the BS r

[2019-06-18 07:40] NistrumCain commented on #208
Tha5s what I was thinking.. i dont know the java bits well enough to be confident in my changes if i do make one.

[2019-06-18 08:34] BitPsycho commented on #208
Rechecked the code again and it's not the paging size issue ... I jumped 2 soon to conclusion.

The code I mentionnes simply sets up a requester with page size 100.

The actual last line - getAll - creates a paged iterator - with this default size - which seems to query GitHub per page size until nothing is returned anymore ( all default code ) so I assume this is not the issue ...

It would call

[2019-06-18 08:42] NistrumCain commented on #208
Yeah... that's where I got confused.. I can make the request myself no problems I just dont get why it's getting problems.. I have no idea how we trial an error this

[2019-06-18 08:43] NistrumCain commented on #228
Do you want to keep the look the same or not?

[2019-06-18 09:30] amis92 commented on #228
I don't think we need to. If you have any better/more modern ideas, I'm very open :)

[2019-06-18 09:57] amis92 commented on #228
Also, the logo could be updated to the one Grotskull's Workshop from Discord prepared from us:

Pics from https://discordapp.com/channels/558412685981777922/558412685981777924/560073806291664936

![logo round](https://cdn.discordapp.com/attachments/558412685981777924/560073910813589524/Icon_Round.jpg)

![logo square](https://cdn.discordapp.com/attachments/558412685981777924/560073805645479937/Icon

[2019-06-18 12:31] amis92 commented on #215
@r4dh4l I've read up a bit on database licensing with CC. It may indeed be applicable, if the rights to content will be correctly specified (e.g. no rights). I'm not a lawyer as well, and I will try to contact someone (if you have any reference to share please do so). This may very well be the solution we all are happy with and it'll also make this whole organization's work more "legal".

[2019-06-18 12:33] amis92 commented on #228
Closed by accident

[2019-06-18 13:22] NistrumCain commented on #228
I was wondering about that! Well as for fe design stuff I can try and make something that fits the newer logo a little more maybe... we will see

[2019-06-27 12:36] mugginns opened #229 "Rename The Walking Dead: March to War to The Walking Dead: Call to Arms"
Hi, can you please rename this repository:

https://github.com/BSData/the-walking-dead-march-to-war

They changed the name of the game during beta and its now 'The Walking Dead: Call to Arms". Thanks

[2019-06-27 21:11] amis92 commented on #229
I can rename it, sure. Will the people know to re-subscribe? What I mean is, the BattleScribe saves the address (url part) for updates. If I change the URL, they won't get updates until they re-subscribe to the "new" repo URL.

[2019-07-06 11:55] r4dh4l commented on #215
@amis92: Happy to hear that. What about just asking GW how they think about this?

[2019-07-22 14:55] mugginns commented on #229
Yes, they will. Thanks

[2019-07-23 06:56] amis92 commented on #229
Rename commencing.

[2019-07-23 07:02] amis92 commented on #229
Done. New repo url: https://github.com/BSData/the-walking-dead-call-to-arms

[2019-07-23 07:02] #229 closed

[2019-08-06 21:43] NistrumCain commented on #228
hey, didnt mean to vanish for a month, set up a local project and started to sort the code out, what do you want me to do about a repo, i can set up a personal one until im ready to launch/ handover but what should i do when its all done?

[2019-08-07 07:39] amis92 commented on #228
Do a fork, work on the fork, and open a PR. The sooner you open, the sooner we can discuss the rewrite.
 At least that's what I'd suggest.

[2019-08-07 07:39] amis92 commented on #228
Also, glad you didn't vanish forever ;D

[2019-08-07 09:54] NistrumCain commented on #228
Yeah, will do in the next few days hopefully. My plan right now is to build the site to be identical and then make incremental changes

[2019-08-07 10:11] amis92 commented on #228
Cool. Though, don't spend too much time on making it "identical" initially ;)

[2019-08-07 10:26] NistrumCain commented on #228
Haha, I take it there is still no one who can help with the java call? I might be able to get someone to look at it?

[2019-08-07 12:32] amis92 commented on #228
Wait, I've forgotten - what java problem are you referring to?

Sure, if you've got someone that can fix this - by all means, the more the merrier. :)

[2019-08-07 12:55] NistrumCain commented on #228
The problem with the api not always returning all of the repos

[2019-08-07 13:14] amis92 commented on #228
Right. Yeah. This is not the priority here, #208 will be fixed with a rewrite of the backend using webhooks instead of long polling.

[2019-08-07 13:15] NistrumCain commented on #228
Awesome in that case I wont worry about it.

[2019-08-19 12:51] amis92 opened #230 "Backend API specification"
REST API definition:

https://github.com/BSData/bsdata/blob/41af6dbb415918dd9d1d074f23c36d3fc05919f4/src/main/java/org/battlescribedata/rest/RepoResource.java

Endpoints:

Verb | URL | description | model
-|-|-|-
`GET` | `/{repo}/{filename}` | retrieves a file - be it an index, catalogue, game system or even a roster(?) | - (file content)
`GET` | `/{repo}` | retrieves a JSON with repository detail

[2019-08-19 13:04] amis92 commented on #230
Out of those, non-critical endpoints include POST ones plus the atom feed.

Both the issue and atom are useful and see usage. The file update is almost never used.

The account from which the issues and file updates are created on GitHub: @BSDataAnon

[2019-08-22 07:13] mugginns opened #232 "BSData/sharp-practice - Issued release, not showing up on main data page"
Hi, I issued a release for Sharp Practice (https://github.com/BSData/sharp-practice) 17 hours ago but it isn't showing up on the main page - did I do something wrong?

[2019-08-22 07:13] #232 closed

[2019-08-22 07:13] amis92 commented on #232
See #208 :(

[2019-09-02 09:59] Mad-Spy opened #233 "Changes to anonymous issue creation"
As we are rebuilding the site, it might be helpful to review anonymous issue logging.

- Having a user-editable issue title would be helpful; the current way of working means we have to edit every issue title in order to get meaningful titles.
- Recording the Battlescribe version is not particularly helpful in the majority of cases; it would be more useful to ask the datafile version.
- I'm pretty

[2019-09-18 17:04] Ynnead opened #234 "Craft world data missing Eldrad"
Eldrad stats are not in the repository

[2019-09-20 18:30] amis92 commented on #228
@NistrumCain I know it's probably not very nice of me, but: any progress? Are you still in? :)

[2019-09-20 18:50] NistrumCain commented on #228
Sorry man, still here! I even check this thread once in a while. I am off work for a bit soon in the next 2 weeks and was planning to work on it all then. Dont feel bad for bugging me, i have had plenty of time.. its my fault not yours!

[2019-09-21 12:02] amis92 commented on #228
Soo let's push a PR already so that there's *something* visible happening :>

[2019-09-30 21:05] amis92 opened #236 ".NET API: Move from MVC to WebAPI"

[2019-09-30 21:36] amis92 opened #238 ".NET API: GET /repo/file"

[2019-10-01 06:16] #236 closed

[2019-10-01 06:29] amis92 opened #239 ".NET API: Add dev-time sideloading cache/data"

[2019-10-01 06:29] amis92 commented on #236
PR #237

[2019-10-02 16:53] amis92 commented on #230
## Endpoint usage

### BattleScribe workflow

0. App requests `GET /repos` endpoint when the user selects which repositories they want to "subscribe" to.
1. App requests `GET /repos/{repo}/index.bsi` file as provided by the `RepositoryVm.indexUrl`.
2. App downloads files from URLs listed in `index.bsi` (those that are new/have higher revision), which currently is the `GET /repos/{repo}/{filename}`

[2019-10-04 12:12] NistrumCain commented on #228
hahah, i am literally sat working on it now. i might push a pr when im done but itll be really WIP

[2019-10-04 13:50] NistrumCain commented on #228
there was a lot of chasing information around before i got to the bottom of where everything connects together. my plan right now is to rip out all of the webapp code and replace it with a react app.  I will make a branch and start a basic app and at least if i have pushed something into a branch we will have some progress

[2019-10-04 14:34] amis92 commented on #228
Cool. Don't overthink stuff. It's a pretty static page. Great to know you're still on it! :D

[2019-10-04 17:33] NistrumCain commented on #228
I've got a non breaking pr set up.. I've hidden  my setup is inside the web app folder you can easily get it to run

[2019-10-04 21:16] amis92 opened #242 "New BSR repository bundle type"
There are two workflows when the user downloads all the files for the given repository:
1. First time download when the repo subscription is created.
2. Any other time when the user checks the `Clear data` checkbox.

With @Jonskichov we agreed it'd be an optimization to introduce a new bundle option for download, that'd download all the datafiles as a one file.

We're in the process of designing t

[2019-10-29 11:23] bguyan commented on #228
So, I have a question. If you switch this whole system over, will it still be using the same hosting system?

[2019-10-29 11:31] amis92 commented on #228
@bguyan you mean will we still use AppSpot? Maybe, maybe not. Hasn't been decided yet. Why?

[2019-10-29 11:34] bguyan commented on #228
i may or may not be nistrum...

was wondering if we were thinking of using something like AWS? or google cloud?

[2019-10-29 11:57] amis92 commented on #228
AppSpot *is* GoogleCloud. 🤔

[2019-10-29 11:58] bguyan commented on #228
3 guesses what system i am used to! I knew that appSpot was on googles system, im just not used to their serverless hosting platforms..

[2019-10-29 12:05] amis92 commented on #228
AWS?

Cool. Yeah, since we're attempting a rewrite of backend in .NET, there was some discussion about moving to Azure, but it's all just talking.

[2019-10-29 12:05] bguyan commented on #228
the reason i asked is because i feel like if you are doing a new BE and i have sorted a new FE we could publish the whole lot together and sidestep the current system? it kind of changes our publication pipeline

[2019-10-29 12:08] bguyan commented on #228
yeah, I work a lot on AWS. i do all my publication through the AWS platform

[2019-10-29 12:09] amis92 commented on #228
To be honest, with all the dynamic we have here, I don't see us moving anywhere. So *if* we actually get both -ends done at some point, we'll go straight to where we have *something* which is AppSpot.

If you have a better suggestion, shoot away. We're currently using about 10 TB bandwidth per month.

[2019-10-29 12:15] bguyan commented on #228
yeah, thats fair, good to know, makes life simpler!

[2019-10-29 12:16] amis92 commented on #228
I mean, it's possible to move - I just don't have enough data to decide which hosting would be cheaper/st, and also it's not me who pays the bill sooo. :D

[2019-10-29 15:00] bguyan commented on #228
nah, things are set up, im just not sure how easy it is to publish on the platform,  i just need to do some reading

[2019-10-29 15:11] amis92 commented on #228
Well I'd prefer for it to be easier ;D

[2019-10-29 17:00] bguyan commented on #228
haha, its a bigger issue for you than me i think? all i need to do is drop my code in to replace the current index.html and my JS will do the rest :P

i might get some more dev time on this on thursday... will see. I have to work on setting up my own site for my app soon to ill try and connect the 2 so i spend some time on the BS frontend any time i work on my own

[2019-11-21 14:57] amis92 opened #243 "Indexing and distribution redesign"
## The problem

We're not scalable. Full stop.

The current design of our organization is not scalable to the increasing popularity, needs and update frequency. The system has been failing intermittently (#208) since almost the beginning, but it was good enough.

Now it's not.

## The proposal

We need to decentralize this operation. Keep liability and maintenance at minimum. As of writing this po

[2019-11-21 19:35] amis92 commented on #111
Closing in favor of #243

[2019-11-21 19:35] #111 closed

[2019-11-21 19:35] amis92 commented on #112
Closing in favor of #243

[2019-11-21 19:35] #112 closed

[2019-12-21 22:01] Junkman4 opened #244 "Cataphractii Termie weapons"
The weapon options are still showing that they need 2 after selecting the pair of Lightning Claws.

[2020-02-04 08:09] KealL opened #245 "Released Repo not showing"
I released the first back seas data last night but it’s not showing in the BattleScribe downloads, have I done something wrong?

[2020-02-04 09:00] #245 closed

[2020-02-19 01:34] battosai opened #246 "[Join Request]"
Hi, I'm just another volunteer that's interested in helping maintain the repo.

[2020-02-19 01:46] #246 closed

[2020-04-26 03:45] hardworlder opened #247 "Kill Team Astartes Roster"
Relic blades are missing from the Vanguard Veteran selection, and Deathwatch cannot take Vanguard Sergeants.

[2020-08-26 13:23] amis92 commented on #243
This work is in full tracked via https://github.com/orgs/BSData/projects/3

The current state is as follows:

https://github.com/BSData/gallery together with https://github.com/BSData/publish-catpkg provide a functional replacement for the appspot webapp backend.

- Gallery contains a list of registered repositories ("registry")
- Gallery runs a scheduled workflow to update details of registered r